[2015-07-11 23:11] i3games opened #1 "GPL or LGPL?"
p5.play.js refers to GPL: "This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.", but licence.txt contains LGPL.

[2015-07-18 02:56] futuremarc opened #2 "events and their names"
Hi,

I've been using your addon lately and love it! Thanks, awesome work!

Couple things, maybe we should change the names of the events from things like `onMousePressed()` to simply `mousePressed()` in order to stay in line with the p5/processing style. Same thing for `mouseOver()` instead of `onMouseOver()` etc... Generally we try to keep methods names up to 2 words.

And maybe this should be it

[2015-07-22 16:02] Zaptronic opened #3 "Uncaught ReferenceError: keyIsDown is not defined"
I get errors when using the key methods.

I tried one of your examples:
[code]

but it gives me this error message in the console: `Uncaught ReferenceError: keyIsDown is not defined`

[2015-07-27 14:51] karneaud opened #4 "Support for sprite sheets"
Does your framework support spritesheets? which is more or less a common occurrence e.g. http://getsetgames.com/wp-content/uploads/2010/04/grossini_dance_atlas.png

[2015-08-24 16:20] ltejedor opened #6 "sprite.height"
Not sure if it's an issue or on purpose, but sprite.height returns its position.y, not its actual height.

[2015-09-05 02:54] KouichiMatsuda opened #7 "Group.removeSprites does not remove all sprites?"
The following codes remains two sprites.
Am I missing something?
[code]

The following "removeSprites" code in p5.play.js looks fine.
("@method clear" should be "@method removeSprites")
[code]

[2015-09-29 05:39] Jared-Sprague commented on #4
@karneaud I'm working on implementing this now! It depends on a yet un-released master branch of p5.js, so I'm just implementing it in a branch (goo.gl/v4WSZb) for now, but it should be ready soon! goo.gl/hcYbqW

[2015-09-30 04:58] TheThirdOne commented on #4
+1 This is an important feature.

[2015-10-04 02:29] MattHesby opened #9 "Corner Collisions triggering touching.left"
Created a simple map using an array to generate blocks.  When running on a long string of blocks, touching.right worked fine but touching.left would trigger from corner collisions.  Thus making collide() trigger and stop movement.

[example with touching.left being logged to console](http://matthesby.github.io/p5playplatformer/)

[2015-10-04 05:10] paked commented on #4
:+1:

[2015-10-05 02:29] Jared-Sprague opened #10 "Can I add require.js and grunt to build in dependancies into a single p5.play.js lib?"
Hey @molleindustria!
I've got a question for you.  I ran into a problem with sprite sheets because when an Animation is added to a Sprite, .clone() is called on the animation.  This doesn't work for sprite sheet Animations because it doesn't deep clone the state.  What I need is a way to deep clone the object.  There is a popular JavaScript library https://lodash.com/ that has a really nice cloneD

[2015-10-05 03:34] molleindustria commented on #10
Hi Jared,
thank you for doing this. I'm still a noob in both javascript and github.
The clone function is actually not a general deep cloning solution but a pretty simple custom deal:
https://github.com/molleindustria/p5.play/blob/a6896817ec38f402df908de6d51df01f75de6d7c/examples/lib/p5.play.js#L3183
I haven't had the time to examine your implementation closely but maybe you can expand that to cop

[2015-10-05 03:44] Jared-Sprague commented on #10
@molleindustria Thanks for the reply!  That's all I wanted to know!  I had a feeling that you were intentionally avoiding dependencies, which is why I asked.  I totally don't mind expanding the .clone() for Animaiton to make it work with sprite sheets.  Stay tuned!  If you want to take a look at my implementation I have it on a branch "sprite_sheets" on my fork here:
https://github.com/Jared-Sprag

[2015-10-05 05:39] Jared-Sprague commented on #4
Pull request: https://github.com/molleindustria/p5.play/pull/11

[2015-10-05 20:52] #4 closed

[2015-10-05 20:54] paked commented on #4
:+1:

[2015-10-06 14:22] #10 closed

[2015-10-06 18:49] #2 closed

[2015-10-14 14:17] alexrus07 commented on #7
If it still matters, I managed to achieve total removal of sprites in a group by using a do/while loop, like this:

[code]

[2015-10-15 12:37] KouichiMatsuda commented on #7
Thanks. But do you know the reason why the following does not work?

[code]

[2015-10-15 13:27] ycatch opened #12 "Instance mode with p5.play"
Hi, there.

I tried p5.js and p5.play in instance mode, like this.

However, it stay loading...

Please tell me, is p5.play running in Instance mode?

[code]

[2015-10-15 14:22] GoToLoop commented on #12
Indeed w/ another sketch I've tried, I've got "Uncaught ReferenceError: createVector is not defined".
Seems like p5.play assumes p5.js' API is always globally available. Dunno...

[code]

[2015-10-15 14:44] alexrus07 commented on #7
It doesn't work because JavaScript shifts array elements after you remove one from it. So if you remove element at position 0, the element that was previously in position 1 will now be in position 0. So if you increment your count by 1 for every pass in the for loop, you will essentially skip over every second element in the array.

The removeSprites() function is wrong in p5.play and its probably

[2015-10-15 14:58] GoToLoop commented on #7
Assuming method **remove()** returns the object being removed, this is a much shorter version:
`while (trees[0].remove());`

However, a more performance way to do it is a backwards loop, since it avoids the left shifting:
`for (var i = trees.length; i--; trees[i].remove());`

[2015-10-15 16:31] Jared-Sprague commented on #12
"Seems like p5.play assumes p5.js' API is always globally available. Dunno..."

I think this is correct

[2015-10-15 22:36] KouichiMatsuda commented on #7
@alexrus07
oh, i see. thanks a lot.

[2015-10-15 23:39] ycatch commented on #12
GoToLoop,  Jared-Sprague
Thank you for your comment

I understand.

[2015-10-31 20:04] toolness commented on #3
Hmm, [`keyIsDown()`](http://p5js.org/reference/#/p5/keyIsDown) is a p5.js function--are you including that in your web page? Also, it looks like p5.play doesn't yet support p5.js's instance mode (#12), so you might have to disable that if you're using it.

[2015-11-03 03:49] molleindustria commented on #12
Hi, sorry for the late answer, I suck at gibhut!
Yes, it does assume that p5.js is globally available. I couldn't find a good example on how to make a library work in instance mode. In the example above what would be the best way to tell a library that the p5 stuff is inside "sketch"?

[2015-11-03 03:53] #7 closed

[2015-11-03 04:06] GoToLoop commented on #12
Inside p5.js' "core.js" there's a "private" property called *_isGlobal*:
https://github.com/processing/p5.js/blob/master/src/core/core.js#L447
And each library which needs to access the sketch's canvas demands its owner's **_p5_** reference.
And they all store that parameter as *_pInst* . Check out _**p5.Element**_'s constructor for example:
https://github.com/processing/p5.js/blob/master/src/core

[2015-11-04 18:29] toolness opened #14 "Add a unit test suite"
I'd like to add a simple unit test suite in the style of p5's test suite (mocha, phantomJS, Travis CI integration, [nyan cat test formatter](https://github.com/mattsears/nyan-cat-formatter/blob/master/nyan_example.gif), etc). This way future bugs can have regression tests easily written for them.

To start I'd like to just add the test infrastructure along with a regression test for #13.

@mollein

[2015-11-04 21:25] molleindustria commented on #14
Yeee I have no idea of what you are talking about but it sounds great. I'm guessing that would not change the code itself but only entail some extra files in the repo, am I correct?

[2015-11-04 21:48] toolness commented on #14
Yep, exactly! Basically we'd just add a `test` directory at the root of the repository that looks something like [this](https://github.com/processing/p5.js/tree/master/test) and we'd hook it up to a service called [Travis](https://travis-ci.org/) that runs those tests whenever new code is committed to the repository, to make sure that existing functionality doesn't break.

[2015-11-12 11:38] paulloz opened #15 "Touch events"
Hi!
p5 mouse events seem to work quite well on mobile / tablets (i.e. [touchEnded](http://p5js.org/reference/#/p5/touchEnded) falls back to [mouseReleased](http://p5js.org/reference/#/p5/mouseReleased) if not defined). However p5.play does not seem to handle touch events.
Am I right? Is this planned in a near future? (Would be a great addition to p5.play).

[2015-11-17 18:15] cmiller10 opened #16 "Screenshot with hit detection makes sprites disappear"
[code]

I have been trying to make a screenshot trigger upon hit detection. It works as it should with keyPressed, however when using the hit detection, p5.play sprites disappear from the screenshot.

[2015-12-16 17:46] mrjoshida opened #18 "overlapPixel example not working"
In the [point and pixel overlap example](http://p5play.molleindustria.org/examples/index.html?fileName=collisions5.js#) it looks like overlapPixel is not working - the poor triangle falls straight through the platform.

[2015-12-16 20:55] molleindustria commented on #18
Yeah I noticed that, I think something in p5's get() changed and broke it. I'll check it as soon as I can

[2016-01-20 18:42] mrjoshida commented on #18
Looks like it's been fixed in p5.js https://github.com/processing/p5.js/issues/342 , pulling an updated version fixes the example

[2016-01-20 22:24] #14 closed

[2016-01-20 22:29] molleindustria commented on #16
the sprites are drawn by drawSprites();
I think if you move the save() after that it should work

[2016-01-21 12:22] cmiller10 commented on #16
That looks to have done the trick. Oversight on my part, apparently. Thank you.

[2016-01-21 12:22] #16 closed

[2016-01-30 22:25] toolness opened #20 "Smoke test examples as part of test suite"
A bit similarly to https://github.com/processing/p5.js/pull/1134, it'd be nice to run all the examples in the `examples` directory during `npm test` just to make sure that they don't throw anything during setup or after rendering the first frame.

[2016-01-31 14:44] toolness commented on #18
Thanks @mrjoshida! It looks like the p5.play website now uses `p5.js v0.4.21 January 04, 2016`, which should include that fix, as the triangle is no longer falling straight through the platform. I'm going to close this issue now, but feel free to re-open it if you disagree.

[2016-01-31 14:44] #18 closed

[2016-01-31 14:51] toolness commented on #1
Hmm, good question @i3games... It looks like p5.js uses the LGPL too, but it doesn't include any mention of its license in the JS library, and neither do p5.dom.js or p5.sound.js. So if we want to follow suit, we can just remove the license information from p5.play.js, and leave the `license.txt` file.

@molleindustria can you confirm that we want to use LGPL here, rather than GPL? If that's corre

[2016-01-31 15:06] toolness commented on #3
Hmm I'm unable to reproduce this bug, so I'm going to close this issue. Feel free to re-open it if you can provide further details on how to replicate it.

[2016-01-31 15:06] #3 closed

[2016-01-31 15:14] molleindustria commented on #1
Yes, I don't remember what happened there. In general I prefer GPL but it makes more sense to be consistent with p5.js

[2016-01-31 15:15] toolness commented on #15
Hmm, good question--is there a particular kind of touch API you'd like to see that isn't already offered by core p5.js? For instance, the mouse and keyboard APIs of p5.play all seem to improve upon the ones offered by core p5.js in some way--I'm just curious what an improved touch API might look like.

Or, alternatively, do you mean that you'd like to see the mouse API provided by p5.play fall-bac

[2016-01-31 15:26] toolness commented on #6
Hmm, can you provide an example for this? I'm finding that the following sketch seems to work as expected:

[code]

[2016-01-31 15:29] molleindustria commented on #15
The main addition in p5.play are functions like mouseWentDown that check whether the input changed since the last frame. These are useful for certain game programming patterns in which using separate functions to detect events is annoying.
I see now that the p5.play mouse example doesn't work on iOS, while the p5.js mousePressed() does so probably there is something that can be done there.

[2016-01-31 15:34] toolness commented on #6
I also tried it with images and things still seem to work:

[code]

[2016-01-31 15:36] #1 closed

[2016-01-31 15:37] toolness commented on #6
Since I can't reproduce this issue, I'm going to close it. But if anyone can provide an example that replicates the problem, feel free to reopen it!

[2016-01-31 15:37] #6 closed

[2016-01-31 15:38] molleindustria commented on #6
The height is calculated differently whether the sprite has is a placeholder square, image or an animation so it would be useful to know in what circumstances that happens.

[2016-02-01 05:57] creisman opened #23 "Group has two clear methods in API, removeSprites not listed"
The API lists two clear methods. The code has @method clear on the removeSprites method. ![clear API](https://cloud.githubusercontent.com/assets/2438814/12709880/47b15308-c865-11e5-8180-fec5bff2e18f.png)
![clear documentation](https://cloud.githubusercontent.com/assets/2438814/12709881/47b1c702-c865-11e5-8e03-55d80c50670a.png)

[2016-02-01 06:11] creisman opened #24 "Group#removeSprites doesn't call remove on all sprites"
I noticed that calling Group#removeSprites wasn't actually calling Sprite#remove for all sprites. I think this is because of your implementation of remove.

array.removeSprites = function() {
  for(var i = 0; i<array.length; i++)
     array[i].remove();

  array.length = 0;
}

This loops over the length of the array and calls remove on sprites. However, because Sprite#remove also removes the sprit

[2016-02-03 07:02] toolness opened #25 "Forge a release process"
I'm not sure what the release process is for p5.play, but we should document it so folks can continue to maintain it. In #24 a bug that was fixed over two months ago was re-reported, presumably because a new version of p5 with the bugfix hadn't been released yet.

For reference, [here's a release process I instituted](https://github.com/mozilla/teach.mozilla.org/blob/develop/RELEASE.md) for a prev

[2016-02-03 07:02] toolness commented on #24
Oh! This has actually been fixed by #13, but somehow the version of p5.play you're using doesn't include the fix... Where did you get your version of p5.js?  We'll need to have some kind of release process  to make sure that these fixes actually make it out the door, so I just filed #25 to address that.

Sorry for the inconvenience :disappointed:

[2016-02-03 07:02] #24 closed

[2016-02-03 07:05] toolness commented on #23
Good catch, thanks for reporting this!

For reference, this discrepancy can be viewed live here:

http://p5play.molleindustria.org/docs/classes/Group.html#method-clear

[2016-02-03 07:11] toolness commented on #20
One of the funky things about the examples is that they're actually referencing a *copy* of p5.play.js in the `examples/lib` directory... Hmm. Might want to not store two copies of the library in the repo, but instead have a build system do the copy--or have the examples reference the original p5.play.js, and get rid of the copy.

[2016-02-03 23:16] creisman commented on #24
Ah, good call. I didn't even think to check about an updated version. I was helping a friend debug her project and I think she pulled the live version as of ~October, which was before #13.

[2016-02-21 13:39] toolness opened #37 "Sprites can be added to groups multiple times"
Not sure if this is a big deal, but I noticed it when I accidentally wrote the following code in a test:

[code]

The number `2` will be logged to the console.

This is because `createSprite()` actually adds `mySprite` to `allSprites` on its own, so the call to `allSprites.add()` actually adds it *again*.

This could lead to weird behavior. For instance, since our current implementation of `Group#

[2016-02-24 01:57] #20 closed

[2016-02-24 03:21] #12 closed

[2016-02-27 12:34] toolness opened #41 "Add an npm task to generate the documentation"
I have no idea how to regenerate the reference documentation for this project.

It would be great if we had an `npm docs` command or something that rebuilt them.

It would be *really* cool if `npm start` also rebuilt the docs whenever changes were made to `lib/p5.play.js`, but I suspect this would require adopting grunt or gulp (I prefer gulp, but we can use grunt if we want to maintain parity wit

[2016-02-28 11:54] toolness opened #43 "mouseUp, mouseDown, keyDown are inaccurate for 1 frame"
The folowing was originally noted in #42.

The documentation for `keyDown` states:

[code]

However, the implementation is checking to see if the internal key state is specifically equal to `KEY_IS_DOWN`. The problem is that the internal keystate might actually be `KEY_WENT_DOWN`, in which case the method will retrun `false` but `keyIsDown()` will be `true`!

It's understandable that no one has no

[2016-02-29 19:05] islemaster commented on #41
I've got a WIP on my [yuidoc-helper branch](https://github.com/molleindustria/p5.play/compare/master...islemaster:yuidoc-helper).

[2016-03-13 23:16] #9 closed

[2016-03-14 22:19] toolness opened #46 "Use 'init' registerMethod() instead of lazily-setting properties"
Some complexity in supporting instance mode was introduced because there wasn't a way for extension libraries to do initialization when a sketch is first created. This resulted in us having to create a function called `defineLazyReadOnlyP5Property()`, among other things. Some discussion about the complexity is at https://github.com/molleindustria/p5.play/pull/22#discussion_r53211269.

Anyways, sin

[2016-03-14 22:48] islemaster commented on #41
There are a lot of asks in this one issue, but #45 resolved the ask in the title.  The remaining asks seem to be:

* Work with @molleindustria to update the docs at p5play.molleindustria.org/docs
* Somehow automate docs generation, so that a hosted version somewhere is always current with `master`
* Remove the built docs from the repository (presumably after the above work)
* Provide a watcher for

[2016-03-18 17:36] gtoast opened #48 "Sprite and collider box are drawn off center"
Issue: In latest release of p5.play sprite and collider box are drawn off center.

Here's an image of a sprite with debug turned on. The center is drawn correctly but the sprite itself is drawn as if rectMode is set to "CORNER" rather than "CENTER":
![collidertest_latest_release](https://cloud.githubusercontent.com/assets/280999/13886436/11e69ebe-ecf4-11e5-8ab4-2687404f4b23.jpg)

Here's the same s

[2016-03-19 00:37] joshlory opened #49 "Circle collisions offset instead of bounce at oblique angles"
The issue:
![bounce](https://cloud.githubusercontent.com/assets/413693/13895507/156688aa-ed31-11e5-8bac-523d95c31c82.gif)
Repro:

[code]

[2016-03-19 01:42] islemaster commented on #37
Opened a PR with your second proposed solution.  I think `Set` is a good idea but it's also a major breaking change, and less of a 'beginner' concept - I think we keep it as an array for now.

[2016-03-19 11:59] #37 closed

[2016-03-21 17:40] islemaster commented on #48
Thanks for bringing this to our attention!  This looks like a recent regression.  I'll take a look today.

[2016-03-21 21:27] cpirich commented on #48
These constants are captured as globals too early. p5.js doesn't add those to the prototype until init time. We'll put together a PR to fix this:

[code]

[2016-03-21 21:38] toolness commented on #48
Ahh yes! This is actually a [bug on P5's end](https://github.com/processing/p5.js/pull/1256#discussion_r52829838), but it'd be useful to fix in p5.play regardless since we want to support older versions of p5 if possible.

[2016-03-21 23:28] #48 closed

[2016-03-22 14:18] gtoast commented on #48
Thank you guys! Much appreciated!

[2016-03-22 20:45] islemaster opened #54 "Sprite.debug drawing leaks render state"
The debug drawing code found in [Spirte.display() at p5.play.js:1485](https://github.com/molleindustria/p5.play/blob/master/lib/p5.play.js#L1485) does not properly push/pop p5 render state, so it can affect rendering operations that take place after it runs.

# Example
An easy example of this is that text rendering breaks when it follows sprite rendering with debug=true, including on subsequent fr

[2016-03-24 00:30] islemaster commented on #54
Reopening this issue until processing/p5.js#1320 is resolved.

[2016-03-24 14:35] karneaud opened #56 "sprite moveTo function"
Would be nice to have a moveTo method built in for easy basic directional movements

e.g.

[code]

[2016-03-24 17:33] #49 closed

[2016-03-26 00:27] islemaster commented on #54
Fix is merged upstream, all that's left is to wait for p5.js to cut a new version and then update to that version in this repo.  Any idea what their process for cutting a version is?  Looks like the last one was a few weeks ago.

[2016-03-27 10:36] toolness commented on #41
Oh, sorry I didn't reply to this!

Hmm, I think we should resolve this issue and open new ones, because resolving issues is fun, and also because I was half-daydreaming when I wrote this issue :grin:

[2016-03-27 10:36] #41 closed

[2016-03-27 10:37] toolness opened #57 "Remove built docs from repository"
It would be really nice if we could remove the built docs from the repository, so that we don't need to spam the commit history with rebuilds of the documentation whenever we change it.

(This issue was split off from #41.)

[2016-03-27 10:39] toolness opened #58 "Document how to rebuild docs in README"
I think it's just `npm docs` right? Would be nice to document it in the README.

[2016-03-27 13:27] toolness opened #60 "Fix lint errors and run linter as part of test suite"
Alternatively, we could just have the linter detect for undeclared globals, but I'm not sure if that's possible with jshint... My main intent here is to prevent regressions like #59.

[2016-03-28 16:45] islemaster commented on #58
`npm run docs`, since 'docs' isn't a magic npm task. See [npm scripts documentation](https://docs.npmjs.com/misc/scripts).

I'll take care of this change.

[2016-03-28 16:46] islemaster commented on #57
It'd be nice if this change was combined with/follows an improvement to our hosted docs situation.

[2016-03-28 16:50] molleindustria commented on #57
I built the docs with yuidocs locally and then manually uploaded it. What do you people think is the best practice in terms of building / hosting it?

[2016-03-28 16:50] islemaster opened #61 "Bower support is broken"
@karneaud just [reported on PR #8](https://github.com/molleindustria/p5.play/pull/8#issuecomment-202480197) that they:

"Tried to `install bower p5.play --save` and got

[2016-03-28 16:58] islemaster commented on #57
I've been investigating that for some of my other projects.  There are a few approaches, but I haven't found one I love yet.

* We could always put together a process that commits the documentation automatically - [like the one described here](http://blog.brentjanderson.com/post/54687385443/grunt-yuidoc-and-continuous-documentation).  That requires we give a build system privileged commit access,

[2016-03-28 17:00] karneaud commented on #61
`bower install --save https://github.com/molleindustria/p5.play.git` works if you are getting that bower

error

[2016-03-28 19:05] #58 closed

[2016-03-28 19:14] toolness commented on #57
Another option is to use github pages to host the p5.play site and docs. This basically consists of:

* putting the website's static files in a `gh-pages` branch of this repository.
* Adding a `CNAME` file in the root of the `gh-pages` branch containing the text "p5play.molleindustria.org".
* @molleindustria would have to set up a CNAME DNS record for p5play.molleindustria.org that points to `moll

[2016-03-28 20:42] toolness opened #63 "Mark Sprite constructor as @private in docs?"
I was just reading through the docs and noticed that our `Sprite` constructor is documented as a public function.

However, another method we have to create sprites is the `createSprite` function, which actually seems preferable, because it adds the newly-created spite to `allSprites`. Should we actually deprecate using the `Sprite` constructor directly, or mention in its documentation that the re

[2016-03-28 21:56] toolness opened #64 "Group.bounce, .displace, .overlap, .collide have incorrect documentation"
There's a number of problems with the documentation for these methods:

* They claim that a `Group` must be passed in as the first argument; however, as far as I can tell, these methods are all analogous to the eponymous methods in `Sprite`, which actually accept a `Group` *or* a `Sprite` as their first argument.

* Similar to #23, `Group` has two `overlap` methods documented, and no `collide` met

[2016-03-28 22:03] toolness opened #65 "In reference docs, link to (or embed) full example sketches that use methods"
This is a bit more of a "wouldn't it be cool if..." sort of enhancement, but I thought that it would be great if some of the more complex methods in the reference docs actually linked to relevant examples, to provide a better context for their use.

For example, it would be cool if the [reference docs for `Sprite.displace`](http://p5play.molleindustria.org/docs/classes/Sprite.html#method-displace)

[2016-03-28 23:47] islemaster commented on #63
Yes, I suspect we should at least document it as such.  I'm not sure it's worth making it entirely inaccessible though.

[2016-03-29 22:35] toolness opened #68 "Change return types in docs to be more specific"
As @islemaster noted in https://github.com/molleindustria/p5.play/pull/66#discussion_r57763538, a number of return types in the docs are just `{Object}`, when in fact they could be more specific, e.g. `{Sprite|Group}`.

It would be nice to go through the docs and fix these.

[2016-03-29 22:35] #23 closed

[2016-03-29 22:35] #64 closed

[2016-03-29 22:40] islemaster commented on #57
If we want to take a github pages approach, we might benefit from switching from YUIDoc to [JSDoc 3](http://usejsdoc.org).  The syntax is _really_ similar, a little less verbose, and the tooling options around it seem to be more robust.  Take a look at [jsdox](http://jsdox.org/) which generates markdown (appropriate for use on github pages) from JSDoc 3.

One major downside: The look/feel of the d

[2016-03-29 22:46] toolness opened #69 "Don't publish docs for private methods/properties"
Currently it seems our private methods and properties are documented by our YUIDocs. As far as I can tell, it seems this is because YUIDocs templates only remove entire classes and modules marked `@private` from their documentation output--not individual methods and properties. This is a bit of a bummer.

Some ways to get around this:
- Hack our copy of the theme. (Not a huge fan of this.)
- Someh

[2016-03-30 00:28] islemaster commented on #69
Alternative 4: Stop using YUIDoc :trollface:

[2016-03-30 10:46] #60 closed

[2016-03-30 10:52] #63 closed

[2016-03-30 10:53] toolness commented on #54
Oh, I don't actually know what the process/logic behind cutting a version is :disappointed:

[2016-03-30 11:28] toolness opened #71 "Document how to extend/subclass Sprite class"
Extending the Sprite class seems like something users of p5.play are very likely to want to do, especially since certain methods, like `draw()`, are documented as being override-able. So it seems like it might be useful to document a recommended way of doing this.

However, there doesn't actually seem to be a particularly easy way to make a proper subclass, as the only documented way to create a s

[2016-03-30 12:04] toolness opened #73 "Consider migrating to JSDoc 3"
@islemaster mentioned this in https://github.com/molleindustria/p5.play/issues/57#issuecomment-203142789 so I thought it might be useful to start a discussion about it here.

JSDoc 3 pros:
* Better tooling? (@islemaster can you be more specific about this?)

JSDoc 3 cons:
* Since we're not currently using it, there may be some work involved in getting our current docs to work with it. @islemaster

[2016-03-30 17:31] islemaster commented on #73
Neither package is a slouch, but by the numbers JSDoc3 is roughly 3-4x as popular, and may be more stable.

 | [YUIDoc](https://github.com/yui/yuidoc/) ([npm](https://www.npmjs.com/package/yuidocjs)) | [JSDoc3](https://github.com/jsdoc3/jsdoc) ([npm](https://www.npmjs.com/package/jsdoc))
---|---|---
Stable version | 0.10.0 (16 Jan 2016) | 3.4.0 (17 Nov 2015)
Github Stars | 727 | 4,434
NPM Download

[2016-03-30 21:30] toolness opened #75 "Sprite.depth doesn't actually default to 0"
Our documentation claims that [`Sprite.depth`](http://p5play.molleindustria.org/docs/classes/Sprite.html#prop-depth) defaults to `0`, and while we do set it to that in the constructor, the [`createSprite()`](http://p5play.molleindustria.org/docs/classes/p5.play.html#method-createSprite) function immediately changes it to `allSprites.maxDepth()+1`.

So for practical purposes, our documentation is i

[2016-03-31 13:13] toolness commented on #57
Hmm, I'm confused about what you mean by "appropriate for use on github pages".  As far as I know, aside from [built-in support for Jekyll](https://help.github.com/articles/using-jekyll-as-a-static-site-generator-with-github-pages/), GitHub Pages is largely just a way of serving static content, similar to e.g. Amazon S3. When I suggested using GitHub Pages, I didn't mean that we should also use Je

[2016-03-31 17:34] islemaster commented on #57
Oh, good point, my bad.  I was mixing up github pages with github wiki (re: markdown).

Go for it with the pages approach!

[2016-04-01 00:29] #57 closed

[2016-04-05 09:43] toolness opened #84 "Allow a Sprite to be passed as the second argument to Sprite.setSpeed()"
I thought it might be neat to either add a new method or overload [`Sprite.setSpeed()`](http://molleindustria.github.io/p5.play/docs/classes/Sprite.html#method-setSpeed) like so:

[code]

This would just make the sprite move towards the `targetSprite` at the given `angle`.

This is just an idea, not sure how useful it'd be to our users.

[2016-05-02 17:56] #75 closed

[2016-05-02 17:57] islemaster commented on #54
Fixed as of #86 hooray!  FYI @joshlory

[2016-05-02 17:57] #54 closed

[2016-05-05 18:45] cpirich opened #89 "Respect _angleMode before converting degrees to radians"
If p5.js `angleMode(DEGREES)` is called, p5play doesn't work properly anymore.

See https://github.com/code-dot-org/code-dot-org/pull/8243

[2016-05-18 19:42] cpirich commented on #89
PR now available with fix: https://github.com/molleindustria/p5.play/pull/91

[2016-05-19 20:08] islemaster opened #93 "Support ESLint >= 2.10.3 (if regression is fixed)"
We dropped support for ESLint >= 2.10.0 in #92 due to a [regression causing a false positive when linting our code](https://github.com/eslint/eslint/issues/6173).  The [fix for the regression has been merged to master](https://github.com/eslint/eslint/pull/6192) so it should probably go out with 2.10.3.   Once that happens, we should update our dependency to allow the newer versions with the fix.

[2016-05-19 20:54] #89 closed

[2016-05-19 21:11] islemaster opened #94 "Full support for angleMode(RADIANS)"
In #91 @cpirich made p5.play check the p5 angleMode before doing conversions, so that internally we call p5 methods with the correct angle measurements.  However, p5.play methods still expect angles in degrees, regardless of what the p5 angleMode is.  It would be nice for p5.play's API to fully respect the angleMode, so that p5.play's methods take radians if angleMode(RADIANS), and degrees if angl

[2016-07-05 20:53] islemaster commented on #93
[ESLint 2.13.1 is available, as are 3.x.x versions now](https://github.com/eslint/eslint/releases).  We could work on this now.

[2016-07-24 19:01] #93 closed

[2016-07-26 17:15] arorag2396 opened #104 "createGraphics does not work with p5.play in instance mode."
[code]

[code]

It works in non instance mode, but seems not be working for instance mode. Am I doing something wrong?

[2016-07-30 21:44] molleindustria opened #107 "mouse events on sprites & camera"
Mouse events on sprites such as Sprite.mouseIsOver and the related events (overridable methods) don't work if the camera is moved.

To test it you can add a camera.position.x = 500; somewhere in [this example](http://p5play.molleindustria.org/examples/index.html?fileName=mouseEvents.js#)

The problem is here
https://github.com/molleindustria/p5.play/blob/master/lib/p5.play.js#L1390-L1393

The idea

[2016-07-30 21:54] molleindustria commented on #56
A tweenning (in-betweening) type of movement would be cool but it sorts of conflicts with other kinds of movement and it would have to override them.

The example above can be resolved with very few lines of code but a moveTo function that specifies the duration of the interval and the type of progression (linear, ease in, ease out...) could be useful.

[2016-07-30 22:03] molleindustria commented on #71
I always use the first option (I didn't know they were called factory functions). I'm not sure that's really library-specific but in general a couple of general tutorials would be useful.
The full game examples employ that type of extension:
http://p5play.molleindustria.org/examples/index.html?fileName=asteroids.js

[2016-10-12 15:35] ycatch commented on #104
Hi, there.

I tried p5.js and p5.play in instance mode, like this.

	<html>
	<head>
	  <meta charset="UTF-8">
	  <style> body {padding: 50; margin: 0;} </style>
	</head>

	<body>
		<script src="p5.js"></script>
		<script src="p5.play.js"></script>
		<script>
		var s = function(p) {

			var sq;
			var layer;
			p.setup = function() {
				p.createCanvas(800,400);
				p.background(200);
				layer = p

[2016-10-12 18:05] islemaster commented on #104
Hi there! `createGraphics` is a method defined by the p5.js library, not specifically by p5.play.  Does this problem only occur when you are using p5.play?  If not, you may want to re-open this issue over at https://github.com/processing/p5.js.

I'll be happy to investigate later today if the problem is specific to p5.play.

[2016-10-12 20:06] islemaster commented on #73
It looks like the benefit of switching isn't great enough to be decisive :grinning:.  Closing this issue since it doesn't document a 'must fix' issue - and it'll still be around for reference purposes if we want to revisit this.

[2016-10-12 20:06] #73 closed

[2016-10-13 02:55] arorag2396 commented on #104
@islemaster Yes, this problem is specific to p5.play. I have used createGraphics couple of times in p5.js, where I didn't use p5.play.
Thanks!

[2016-10-13 14:39] ycatch commented on #104
islemaster thank you for your comment.
I posted this issue to p5.js/

https://github.com/processing/p5.js/issues/1635

[2016-10-18 12:05] moaiii opened #115 "Error when resizing Canvas"
This code will paint a red dot in the middle of a square canvas with simple P5.js - when resize the red dot stays in the middle of the screen.  If you include the p5.play.js library in the head of index.html, change nothing in 'sketch.js' the red dot will 'drift'.

In short P5 is messing with the resizeEvent :(

**sketch.js**

[code]

**index.html**

[code]

[2016-10-19 23:12] islemaster commented on #104
I've done some investigation here.  The problem is that `createGraphics` attempts to clone all methods and properties from p5's prototype into the graphics context, and the `p5.prototype.camera` added by p5.play is failing to lazy-create in instance mode (with or without `createGraphics`).

This is a symptom of a larger issue we've known about for some time; if we can fix #46 it should take care o

[2016-10-20 00:56] islemaster commented on #104
This should be resolved by https://github.com/molleindustria/p5.play/pull/119.  It's a fairly sizable change, so I'm going to wait on review from one of the other maintainers to merge; you could certainly pull that branch and use it though.

[2016-10-26 14:55] ycatch commented on #104
Thank you, @islemaster .
#119 works in instance mode with createGraphics.
Yeah!!

[2016-12-01 14:43] ghost opened #124 "QuadTree breaks sprite group collisions when sprites go off screen"
Love p5.play! I use it in a class. I found a problem looking at a student project. If a sprite moves off screen and isn't removed, any subsequent collisions using a sprite group its in will break when quadTree is true. The following code shows the behavior. To see the error, let the first spawned block go off the screen. I've found subsequent collisions to break.

[code]

I tried sorting through t

[2016-12-01 15:28] molleindustria commented on #124
to be honest js is so slow and frame-inconsistent that I was never even able to figure out if the quadtree really optimizes collisions. Easy solution: don't use it.

That's also the only part of the library I took from somewhere else and I only have a general idea of how it works. I wonder if the other contributors know how to fix this...

[2016-12-01 20:15] playfulsystems commented on #124
No worries. Debugging resulted in my discovery of that useQuadTree function. Yeah, setting to false works as a fix. If I find the time, I'll see if I can make sense of it. Thanks.

[2016-12-01 20:25] molleindustria commented on #124
oh, I thought that the quadtree was disabled until manually activated. This is a big problem.

[2016-12-09 20:30] gtoast opened #125 "SpriteSheets Broken in latest P5.play library"
animation() call fails to animate.  Even the "Animation - sprite sheet" demo example fails to actually animate the spritesheet.

Prints message:  Warning undefined frame 0 p5.js:12477

[2016-12-10 07:19] adibbehjat commented on #125
+1

[2016-12-10 13:41] molleindustria commented on #125
I encountered that too and I'm using an old version in my class. I'll try to investigate but these are not my changes...

[2016-12-10 16:13] gtoast commented on #125
I think I found the source of this bug. I'll attempt a patch in a couple hours.

[2017-01-16 05:27] SnipedCode commented on #125
Hi, I get very strange result with SpriteSheets. I can't get it work, I copy paste the exemple, image everything and still.... I saw a fix I changed the original file according to the mentioned modification but again, it's not working.. after a day trying and trying... is someone aware of a problem loading SpriteSheets ? please help me understand why I can't load my animation.

[2017-01-16 19:48] #125 closed

[2017-01-19 17:17] karneaud opened #128 "Warning....undefined frame 0"
I'm using P5JS 0.5.6 with your library and I have a in the

[code]

however when running the sketch I get in the console

The images are loaded via the `preload()` but they do not appear on the canvas despite having `drawSprites` in the `draw()`

any suggestions as to what this might be?

[2017-01-20 20:17] islemaster commented on #128
Hi there!  Thanks for reporting.  This sounds like an issue that got fixed _very_ recently (four days ago) in https://github.com/molleindustria/p5.play/pull/127.  Can you try this with the [latest version of p5.play.js](https://raw.githubusercontent.com/molleindustria/p5.play/master/lib/p5.play.js), or confirm you're already on the latest version from GitHub?

Thanks! Brad

[2017-01-21 12:57] karneaud opened #129 "addImage does not resize image to dimensions of sprite"
if you create a sprite with the dimensions less or greater than the an image's and then add the image to the sprite ...shouldn't the image be resized to fit the dimensions of the sprite?

If not shouldn't there be some way to do it from the sprite?

[2017-01-21 14:12] karneaud commented on #128
@islemaster I think so. I'm pulling from the master branch

[2017-01-21 14:53] karneaud opened #130 "setting sprite width/ height does not resize image"
with reference to https://github.com/molleindustria/p5.play/issues/129

 the `sprite.width` and `sprite.height` gets the image width and height. Could it not also set the image's with and height?

[2017-01-21 21:07] karneaud commented on #15
+1

[2017-01-23 18:47] islemaster commented on #128
I must have missed something then.  I'll try and reproduce the issue with something as close to your example code as I can get.

[2017-01-23 19:47] islemaster commented on #128
Hi @karneaud - here's what I've found so far.  The following code correctly renders a sprite with an animation with no warnings for me on [the example page](http://molleindustria.github.io/p5.play/examples/index.html) (just replace the whole contents of the textbox and click "Run").  I tried to stick fairly close to code snipped you provided - the biggest change is that I'm referring to images tha

[2017-01-24 01:21] #128 closed

[2017-01-25 00:04] karneaud commented on #15
If I had to try and implement this myself....where should I start?

[2017-05-04 00:06] #104 closed

[2017-05-07 01:34] aimed-yujin commented on #115
I'm having same issue, it truely p5 play problem.

[2017-05-23 19:11] mtareiling opened #134 "P5 Play Groups..."
Hello im trying to build a game and im getting stuck ad the part where i need groups. so i decided to google "p5 play groups"but the only useful thing i could find was the examples but i think those aren't working anymore because i tried them. so can someone PLEASE explain how the groups work and what i haev to do.

[2017-05-23 22:12] islemaster commented on #134
Hi there @mtareiling!

In p5.play, groups are [JavaScript arrays](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array) but with a number of special, p5.play-specific abilities.  Here's the official documentation for groups, and some working examples:

- [Group API documentation](http://molleindustria.github.io/p5.play/docs/classes/Group.html)
- [Sprite Group exam

[2017-05-23 22:12] #134 closed

[2017-05-24 09:30] mtareiling commented on #134
Thnx youre the best!

[2017-05-24 09:36] mtareiling opened #135 "Groups and zombie's"
Hey it's me again i was also the guy on #135. So i was wondering if i wanted to make a main character and a zombie and when the character kills the zombie that then 2 zombies spawn and if you kill those 3 and so further on. can someone please help? i quite understadn how groups work but im still with this issue.

[2017-05-24 09:37] mtareiling commented on #135
im sorry it's issue #134

[2017-05-24 23:16] islemaster commented on #135
Hello again!  I'm happy to help a bit more, but your question is starting to be more of a general programming question than one particularly about p5.play.

First, what do you have working so far?  For example, have you got a zombie and a main character on the screen?  Can you move the main character around?  Posting a link to your sketch (your code) would be helpful - [gist.github.com](https://gi

[2017-05-25 08:42] mtareiling commented on #135
I am quite far i have made a Free website the link is here: https://mnmgames.000webhostapp.com/

I am not a beginner i think/ hope but nie i needed Some groups so could make a spanning system. But i think youre last post is enough i think.
But i do like to bos what you think About the game Right now. Btw controles are: w, a, d, mouse button

Ps. Sorry doe my  crappy grammer

[2017-05-25 17:30] islemaster commented on #135
Oh, I see!  You have a lot working already, and your challenge now is not just a spawning system, but generalizing from one zombie sprite to many zombie sprites.  That's going to involve changing every place you use `red` (your zombie) to code that either operates on the whole zombie group, or on each zombie in turn.

* In places where you are changing positions and animations, you'll want to iter

[2017-05-25 17:30] #135 closed

[2017-05-27 15:03] cesarrodas opened #136 "Sprite sheets not working correctly with p5.js >= v0.5.5"
I don't know if this is my mistake or if the documentation is behind but I cannot get
the loadSpriteSheet method to work properly. I tried making a json specifying the x and y of the frame, but instead the same frame is chosen and displaced by the x amount. The same thing happens with the short
version where you choose height width and number of frames. the same first frame is chosen and displaced

[2017-05-28 00:52] cesarrodas commented on #136
Hey I would like to put an example, maybe someone will be able to help
My code: https://github.com/cesarrodas/ghost
The live example: http://powerful-reaches-15768.herokuapp.com/

[2017-05-28 16:06] Carlingr opened #137 "Friction documentation is wrong"
Documentations states that ```sprite.friction=1;``` will be no friction. In actuality it is ```sprite.friction=0;```. ```sprite.friction=1``` is no movement.

[2017-05-30 16:56] islemaster commented on #137
Thanks for pointing this out!

The [documentation comment](https://github.com/molleindustria/p5.play/blob/master/lib/p5.play.js#L828-L838) is up-to-date, so this issue will be resolved next time we regenerate/redeploy the documentation.  That's a separate process for the two places where the documentation lives:

* [p5play.molleindustria.org](http://p5play.molleindustria.org/docs/classes/Sprite.ht

[2017-05-30 17:06] islemaster commented on #136
Hi there @cesarrodas.  The problem you're describing is probably due to an API change in p5.js 0.5.5 that altered the argument order of the `image()` function, which our spritesheet code depends on.  The issue (and a possible fix) is described in https://github.com/molleindustria/p5.play/pull/132.

We haven't merged this fix yet becaue p5.play is currently built on p5.js v0.5.4, which uses the old

[2017-05-30 17:12] islemaster opened #138 "Test against multiple versions of p5.js"
I'm not sure our test coverage is great enough to do much good yet, but it might be helpful to have Travis run tests against a matrix of p5.js versions (latest, latest - 1, latest - 2, etc...) instead of just the version we have saved in `examples/lib`.  This might have caught the issue described in https://github.com/molleindustria/p5.play/pull/132 and https://github.com/molleindustria/p5.play/is

[2017-06-13 23:51] #138 closed

[2017-06-14 00:06] islemaster commented on #136
I've opened a change for review that should make p5.play compatible with the latest version of p5.js and fix the issue you've described here.  Please take a look!
https://github.com/molleindustria/p5.play/pull/140

[2017-06-14 03:47] cesarrodas commented on #136
Awesome! Great to hear I was able to help, I wasn't 100% on it being the library or if my use was outdated.
Looking forward to trying it in my free time :+1:

[2017-06-14 16:44] islemaster commented on #136
Let's leave it open until the fix is merged.

[2017-06-14 17:56] apardo04 opened #141 "Firefox global function "Animation"Issue"
Console Log returns this on Firefox: p5 had problems creating the global function "Animation", possibly because your code is already using that name as a variable. You may want to rename your variable to something else.

Has anyone had this issue or have a fix? None of my variables are named Animation

[2017-06-16 05:11] bomoko commented on #141
@apardo04 as discussed on the p5.js thread (just to repeat it here) it seems as though there's a window.Animation() function in FF, and so that's causing the namespace collision.

[2017-06-16 10:29] bomoko commented on #141
Quick update - it's definitely the Web Animations API in FF doing this.
If you set **dom.animations-api.element-animate.enabled** in your FF preferences to **false**, then rerun the script, you'll find that the "Animation" object is no longer part of the global scope.

[2017-08-07 15:48] a1steaksauce opened #142 "Rotate collider with Sprite"
Hello,
I am working with the current p5.play.js version, and I noticed that it is currently impossible to rotate collision boxes.
However, I noticed that https://code-dot-org.github.io/p5.play/docs/files/lib_p5.play.js.html is a version of p5.play that HAS oriented bounding boxes.
I was wondering why OBBs are not currently implemented in p5.play and whether that will change in the future.

On a si

[2017-08-07 17:00] islemaster commented on #142
Hi @worcestershire!  Good question.

It's not a question of older and newer - you've been looking at docs for a p5.play [fork](https://help.github.com/articles/github-glossary/#fork), a "remix" of this engine maintained by [Code.org](https://code.org) for use [on their site](https://code.org/educate/gamelab).  The matching documentation for this main project can be found at https://molleindustria.

[2017-08-07 18:11] molleindustria commented on #142
Hi @islemaster , is there a reason why code.org forked at some point. Did I miss that conversation? 😳

[2017-08-07 19:21] islemaster commented on #142
Hi @molleindustria!  I believe we started using a fork back in October 2016 just for the sake of velocity - it's helpful to make changes/fixes in our own copy and use them right away, while we get things properly reviewed here on the main project.

We didn't diverge much until our curriculum team asked for a pretty significant overhaul of the collision system, including support for OBBs and some b

[2017-08-07 19:40] molleindustria commented on #142
This is all fantastic. I should probably start a new discussion thread but I was wondering if I should just deprecate the original repository and point to the code.org one since you folks have been de facto developing it since the first release.
I'm definitely not attached to the collision logic and semantic, especially if the new system handles oriented bounding boxes (which has been a frequent r

[2017-08-07 20:43] islemaster commented on #142
Personally I would pull the collision changes back into the main project rather than deprecate in favor of the Code.org fork.  There has been an open [Forge a Release Process](https://github.com/molleindustria/p5.play/issues/25) issue on this repo for a while - maybe we formally tag what's currently here as 1.0 and then release the new collision behaviors as 1.1.

- code-dot-org/p5.play is 145 ahe

[2017-11-01 17:36] bnew commented on #115
does anyone have any ideas on what causes this problem?

[2017-11-03 19:25] charcoal1 opened #145 "Multiple animations affect each other's frame rate?"
I've noticed that when more than a few animations are added to the canvas the frame rate ebbs and flows in frame rate. Two or more animations tend to induce the speed. Has anyone else noticed this?

[2017-11-07 14:57] ghost opened #146 "Overlap detected after sprite removal"
It seems as though in certain situations, overlaps between removed objects still get detected.

[code]

In the following example, score gets incremented after the pickup is removed.

Seems like a missing ```!sprite.removed``` in collision detection.

[2017-11-09 07:48] touyou opened #147 "Animation.frameDelay documentation is wrong"
Documentation states `Animation.frameDelay`'s default value is 2, but actually the code initializes `this.frameDelay` to 4.
And I also found typo in this documentation `anymation`. I think it should be `animation`.

https://github.com/molleindustria/p5.play/blob/master/lib/p5.play.js#L3338-L3347

[2017-11-11 13:58] BenjamintGibbs opened #152 "Cannot get 'play' to work correctly - what am I doing wrong??"
Hi,

I've just started playing around with 'play' and I've run into an issue. I'm trying to run this asteroids example on my local machine using the p5 application. Everything loads and there are no errors in the console, the asteroids move and bounce, the ship rotates but the ship doesn't move when I press the specific keys - what's going on?

HTML:

<!DOCTYPE html>
<head>
  <meta charset="UTF-8"

[2017-11-11 16:38] islemaster commented on #152
Hi @BenjamintGibbs!  Thanks for bringing this to our attention.

Back in May we [reversed the meaning of the `friction` property](https://github.com/molleindustria/p5.play/pull/120) but forgot to update the Asteroids example. At least one copy of the published documentation is out-of-date too (but an [update is on the way](https://github.com/molleindustria/p5.play/pull/150)).

The problem is that

[2017-11-11 18:12] islemaster commented on #69
Solved by #150: Private methods are now hidden by default, and can be optionally displayed.

[2017-11-11 18:12] #69 closed

[2017-11-11 18:12] islemaster commented on #137
Solved by #150.

[2017-11-11 18:12] #137 closed

[2017-11-11 18:12] islemaster commented on #147
Solved by #150.

[2017-11-11 18:12] #147 closed

[2017-11-11 18:12] islemaster commented on #152
Solved by #153 and #150.

[2017-11-11 18:12] #152 closed

[2017-11-30 04:47] lee2sman opened #154 "passing a height parameter to a circle collider causes sketch error"
Hi, when declaring setCollider with a "circle" if I include a height (in addition to radius/width) then my sketch won't load.

[code](http://alpha.editor.p5js.org/msilliv1/sketches/r1Q-6-Tlz)

Notice sketch won't load and no error message. If you delete the last parameter (delete the last 13 on line 22) then the sketch loads a-ok.

[2017-11-30 21:13] lee2sman commented on #154
Just to add some clear feedback, Ideally having an extra 'height' parameter on a circle collider should:
1.  just let it be ignored
2. or throw an error message
3. or use ellipse sizing

**SIMPLE Fix to begin with would be to have very clear info in the Reference that you CANNOT have a height parameter if you declare a circle collider.**

[2017-12-01 17:15] islemaster commented on #154
Hi @lee2sman!  Thanks for providing this feedback.  Agreed that this can be improved.

Opening your example code, I see the following error in the Chrome JavaScript console:
[code]
I think that already matches solution #2 you proposed above, but I guess it wasn't very obvious - perhaps because the error didn't show up in the onscreen console for the IDE you are using?  I'm not sure why that is - I

[2017-12-01 17:55] islemaster commented on #154
Will you take a look at https://github.com/molleindustria/p5.play/pull/155 and let me know if that seems like a good solution to you?

[2017-12-01 21:35] lee2sman commented on #154
Excellent solution!

[2017-12-01 23:16] islemaster commented on #154
Fix merged to master.  Thanks!

[2017-12-01 23:16] #154 closed

[2017-12-03 07:34] bnew commented on #115
@islemaster  thank you for maintaining this library. It's been hugely helpful for me.

I think the issue here is that the camera is always tracked as x and y positions, rather than as a percentage of browser width or browser height. So when the browser is resized, those x and y positions will not remain the same.

My thought would be to add a method to set the camera position instead of accessing

[2017-12-04 15:42] islemaster commented on #115
Hey @bnew @moaiii, sorry I've been idle on this issue.  I'll carve out some time to take a look tonight.  Thanks!

[2017-12-05 05:34] islemaster commented on #115
After investigating this I'm convinced that the current behavior is by design.  I'm putting together an example to illustrate that and an ideal workaround for the example you provided.

That said, I understand this is surprising behavior - it's odd that vanilla p5 and p5+p5.play behave differently in this relatively simply case.  The root cause is not exactly a change to the resize event, as @moai

[2017-12-05 06:54] islemaster commented on #115
Here's an annotated example of how to work with the camera in p5.play.

_**TL;DR** If you want all drawing to be canvas-relative like vanilla p5.js, [call `camera.off()`](http://molleindustria.github.io/p5.play/docs/classes/Camera.html#method-off) at the top of your `draw()` function._

I've created an expanded example that shows how the camera works in p5.play, and why the red dot drifts in @moai

[2017-12-11 01:44] fergfluff opened #156 "Downloading to use as a newcomer"
Hello, I'm a fairly new person to p5.js and p5.play. Thank you for creating this!

I wanted to share that I had a some trouble putting the library in the right place so that my project could reference it. Granted, I'm new to coding but I thought maybe others who are beginner/intermediate are having the same problem, and aren't successfully able to get started with the library at all.

Can the Get

[2017-12-19 16:51] viraj96 opened #157 "Mirroring animation"
I wanted to know whether it is possible to flip an animation based on a reference point. Basically, I want the animation to be flipped if it's position is on the left side of the reference point and remain as it is when it is on the right side of the reference point. I am using `loadAnimation` and `animation` functions.

[2017-12-19 16:59] #157 closed

[2017-12-28 19:44] noordo opened #158 "loadImage accepts base64 images but not loadAnimation"
Hello,

It is very useful to be able to replace (on website like jsfiddle) the following line of code
`ghost = loadImage("assets/ghost_standing0001.png");`
by this one:
`ghost = loadImage(base64_ghost_standing0001);`
("base64_ghost_standing0001" is a javascript variable containing the code of the figure in base64)

The "loadAnimation" command does not accept some  base64 images as arguments : it w

[2018-01-23 03:32] apardo04 commented on #141
Sorry, for late response, but thanks for clearing that up.

[2018-01-23 03:32] #141 closed

[2018-02-22 08:17] computhinkers opened #159 "CodePen & P5.PLay"
Noticing the CodePen and P5.play do not "Play" well together.  We are frequently running into issues with images.  I tried to find other issues that might help resolve these but to no avail.

Which external resources do you suggest when using p5.play in codePen.io?

[2018-03-19 15:15] cesarrodas commented on #136
I know this isn't the right place but i don't know if there is a forum about this or not.
I created a tree sprite and a player sprite. the tree sprite gets destroyed and replaced every loop so that i can save some memory as the map gets bigger and the tree goes off screen. the problem that i'm having is the tree always shows up on top of the player. any way I can update the player to be redrawn on

[2018-03-23 18:02] salvatorescarfone opened #160 "Sprite with a loaded image doesn't show on screen"
I tried to load an image into a Sprite, but this never shows on screen.
I think i correctly followed the example but there's no way i manage to see the Sprite.

I attach my sketch, index and image files so you can exactly see what i've written, thanks in advance for the support!

[prova1.zip](https://github.com/molleindustria/p5.play/files/1842899/prova1.zip)

[2018-04-16 20:53] bizarrr opened #161 "play with socket.io"
Hit there,

thank you for this awesome library.
I try to make a multiplayer game , but it seems that p5.play is not compatible
with socket.io (no error message , but no sprite is displayed).
Don't know if someone tried to test it ?...

[2018-04-24 03:25] cesarrodas opened #162 "remove"
Hey I think I may have seen this issue in the past before.
I'm trying to remove sprites from the screen.
I am trying removeSprites from a group as well a looping through a group and calling remove on each sprite manually. They both freeze the screen without throwing errors. I cannot get rid of any sprite.
Is there a fix for this? thanks for any help

edit: the clear method doesn't get rid of sprit

[2018-05-16 10:57] moaiii commented on #115
@islemaster excellent demonstration! Thanks for all your help

[2018-06-07 22:50] dhowe opened #163 "Support for sprites created from a polygon or path"
I'd like to create sprites by specifying a (potentially complex) shape at runtime, either via a polygon or path. Is this (or will this be) supported? thanks!

[2018-06-09 15:56] jonashw opened #164 "No package release on GitHub"
[This package](https://www.jsdelivr.com/package/gh/molleindustria/p5.play) doesn't have any [GitHub release](https://help.github.com/articles/about-releases/). Could you please create one, so that people can use this project from CDN?

[2018-06-09 16:07] MartinKolarik commented on #164
@jonashw before there's a release, you can use an url with the latest commit hash instead: https://cdn.jsdelivr.net/gh/molleindustria/p5.play@42cd19c39f6f508e4a73c20eaaeb490b97022840/ (this is a recently added jsDelivr feature)

[2018-06-09 16:35] GoToLoop commented on #164
Until then, another CDN option is RawGit.com: :-D
https://RawGit.com/molleindustria/p5.play/master/lib/p5.play.js

I hope when a release is finally set up, they could also include a "main" entry inside "package.json" pointing out straight to the "p5.play.js" file.

A minified version would be gr8 too.  ;-)

[2018-06-09 16:37] MartinKolarik commented on #164
jsDelivr does minification too: https://cdn.jsdelivr.net/gh/molleindustria/p5.play@42cd19c39f6f508e4a73c20eaaeb490b97022840/lib/p5.play.min.js

[2018-06-09 16:42] GoToLoop commented on #164
I know that! But RawGit.com doesn't have an auto minified feature.  O_o

[2018-06-09 16:46] MartinKolarik commented on #164
Haha ok, fair enough 😄

[2018-06-09 16:47] GoToLoop commented on #164
Notice that in order for https://JsDelivr.com to work for https://GitHub.com, the release labels gotta follow the https://SemVer.org 's semantics!

Having the repo on the https://NpmJs.com would be gr8 too!

[2018-06-09 16:49] MartinKolarik commented on #164
Not necessarily, it's just a recommendation. Any version format works but you don't get version ranges if it's not semver.

[2018-06-09 16:52] GoToLoop commented on #164
IMO, those ugly long hashes are workarounds for lack of SemVer.  :-P

[2018-06-09 16:59] MartinKolarik commented on #164
Of course they are. For rawgit you need to use hashes too if there are no releases, otherwise there's no way to know where the cached file should update.

[2018-06-09 17:06] GoToLoop commented on #164
Nope! I've posted a https://RawGit.com link for the very fact there's no release in this GitHub repo! o_o
https://RawGit.com/molleindustria/p5.play/master/lib/p5.play.js

[2018-06-09 17:17] MartinKolarik commented on #164
Yes but as I said there's no way to know where the cached file should update in that case. Originally the URL you posted would be cached forever and never update. Many people used it incorrectly so eventually the rawgit author had to change it and master branch URLs are now cached for 24 hours AFAIK. The advantage is prettier links, the disadvantage is worse caching. For other branches the hashes

[2018-06-09 17:43] GoToLoop commented on #164
Well, so we just need at most merely 24 hours to get the latest p5.play library. ^_^

[2018-06-25 14:05] molleindustria opened #165 "Documentation site"
Hey all, I suspect the API reference and the examples hosted on the original p5.play site (http://p5play.molleindustria.org/) are getting misaligned with the library.

I suppose the best solution would be to turn it into a github site but I have not experience in that. Can you even have a YUIdoc reference hosted on github? Or maybe there is some way to automate or open the reference creation to ot

[2018-06-27 18:53] islemaster commented on #165
Hi @molleindustria!

We've already got the documentation hosted on GitHub at http://molleindustria.github.io/p5.play/. It's attached to the repository so anyone can suggest an update by opening a pull request here.  We don't have it auto-updating on every build yet, but it's definitely possible, and in the meantime any maintainer (yourself, @toolness, or I) can publish a documentation update.

Bac

[2018-06-27 23:56] molleindustria commented on #165
Oh wow, I totally missed that. Awesome, I redirected the domain. Thank you so much for all your work!

[2018-06-28 00:19] islemaster commented on #165
Awesome!  That will simplify life for everyone hunting for documentation.  Thank you!

[2018-06-28 00:19] #165 closed

[2018-07-01 11:29] 7ammer commented on #163
This might be useful:
https://github.com/bmoren/p5.collide2D

[2018-07-01 13:04] molleindustria commented on #163
The easiest way is to override the draw function and use the normal p5 drawing functions
http://molleindustria.github.io/p5.play/examples/index.html?fileName=sprite9.js

Overlapping for polygons can be checked with the library above but for their resolution you'd need a physics engine like Box2d

[2018-07-01 13:10] molleindustria commented on #160
The zip doesn't include the p5, p5.play, etc libraries. Once you add them it works

[2018-07-01 13:10] #160 closed

[2018-07-01 13:10] #163 closed

[2018-07-01 13:12] molleindustria commented on #162
I would need to see the code

[2018-07-01 13:13] dhowe commented on #163
right, thanks... I was looking for a simpler way to do collisions/bouncing of glyphs as the Box2d api has been pretty difficult for learners

[2018-07-01 13:15] 7ammer commented on #163
Matter.js + p5.js maybe easier?
https://www.youtube.com/watch?v=urR596FsU68

[2018-07-02 08:00] dhowe commented on #163
indeed, looks promising

[2018-07-03 23:46] Nadoni opened #167 "Hide/Visible Sprite and React modal window"
**Issue 1.** When I set functions _onMouseOver, onMouseOut, onMousePressed_ to my spritesheet it looks prety well (Imagine: a spell attack using a tooltip of damage and cost). After that I want to do something and hide my sprite using _.visible = false_. But the sprite is still there, and I can also touch it, although I do not see it. I tried use _.mouseActive = false;_ but all the callbacks came

[2018-07-08 19:57] angeltapes opened #168 "Newbie: can't run p5.play"
Hi, I've tried to run this example. I added a path to <script language="javascript" type="text/javascript" src="js/p5.play.js" ></script>

[code]
The web page stays blank. I get the error
`TypeError: camera.position is undefined p5.play.js:2548:6`

I've also unzipped the examples file and I can get it to load when I instert a p5.js file in the /lib folder - this file wasn't there when I downloaded

[2018-07-08 21:14] molleindustria commented on #168
I can't reproduce the error. Make sure that both the p5.js and the p5.play.js are the latest versions. Maybe try to upload the whole project folder.

I believe the example folder in the repository only works if launched from the index in the root (and with a local server or the old p5 editor). The empty and the other html files appear to be broken.

[2018-07-09 09:55] angeltapes commented on #168
Thanks for getting back to me, I've uploaded the files for my project here - so no examples - https://angeltapes.github.io/runner/

[2018-07-09 09:56] angeltapes commented on #168
https://github.com/angeltapes/runner

[2018-07-09 10:31] nucliweb commented on #168
Hi @angeltapes

You need to update the P5.js version.
You can add the last version from CDN from https://cdnjs.com/libraries/p5.js

😊

[2018-07-09 13:52] angeltapes commented on #168
Ah silly me! Thanks for your help, it works now. :)

[2018-07-18 01:00] islemaster commented on #161
I've never worked with Socket.IO, but looking at there documentation I don't see any reason they wouldn't be compatible with p5.play.  Do you have any example code you can share?

[2018-07-19 22:57] Nadoni commented on #167
@islemaster, thanks for advice. Yes I use that P5Wrapper and you know what a pain it is to get them right (p5.js, p5.play.js and reactjs).

[code]

And I've actually, kind of, solved this problem by unmounting of listeners. And mount them again after a while. Something like:
[code]
But the implementation of some untouchable/unmountable property of method for sprite in your library would be nice) I

[2018-07-27 13:03] i3games opened #169 "Clarify License for Artwork"
While the code is under LGPL, can you clarify if/how the artwork in the examples can be used (possibly under a CC based license)?

[2018-08-04 21:00] paulcanning opened #170 "loadAnimation cannot handle images in subfolder named with a number"
I have images in 'animations/0/image01.png' and loadAnimation() cannot handle this.

Once I change the subfolder from '0' to 'foo' - it works.

[2018-09-25 14:10] fenicento commented on #167
+1, that would be awesome

[2018-10-11 17:05] tatomarchioli opened #171 "Group collisions are a bit strange"
I'm building this "platform game" and i'm trying to create the platforms, grounds and walls of the map with blocks.

Here is an print of the current state:

![image](https://user-images.githubusercontent.com/7478516/46820315-4ac65f80-cd5c-11e8-8111-07a5a8da8359.png)

The thing is, when the player object (the strange blue block) is running on top of the ground (the array of squares bellow the stran

[2018-10-13 22:41] reallyTired opened #172 "Give P5 Primitives Collision?"
~~Before adding invisible sprites to a vinilla p5 primitive projectile for collision it ran completely fine but adding the new sprite is causing it to slowly lower in frame rate. at first i thought it was my code not properly removing the sprite so i started drawing it and moved the kill line to the middle rather then the very edge so i can see very clearly if they are being removed and they defin

[2018-10-30 16:45] SnipedCode commented on #136
Is there a fix ?  to this problem ?

[2018-11-21 13:32] brianjschott commented on #136
@SnipedCode thanks so much for your suggestion, it worked perfectly. This fix really should be merged!

[2018-11-27 08:06] swirly commented on #115
Thank you very much @islemaster .
Definitively, camera should really be opt-in.
I was in the process of learning p5play, and resize is something usual when you know a bit p5js (but not yet p5play).
It may trouble a lot of people. I shall certainly not be the last to stuble upon this.
If you consider p5play is not an industrial framework but something to learn, you may confuse peoples.
Camera shoul

[2018-11-27 16:36] galinabee commented on #125
I'm having this issue when trying to start up [http://molleindustria.github.io/p5.play/examples/index.html?fileName=animation.js]. Any suggestions?

[2018-11-30 01:41] islemaster commented on #172
Thanks for your suggestion!  I don't think that's something that makes sense for this library.

My thinking: `p5` shape primitives are drawing commands that affect canvas state but don't store any persistent information about the shape itself, and our existing collision code depends on having some persistent information about the shapes that are colliding.  When I think about approaches I would ta

[2018-11-30 01:42] #172 closed

[2018-12-04 14:57] swirly commented on #71
I understand the way of creating sprites via createSprite but why couldn't we just do the usual javascript way :
[code]
the additionnal part in createSprite function should be added directly in Sprite constructor. This way, we could create a type of particular sprites (asteroids, laser beams, and so on) by extending the sprite prototype. Or is my point of vue stupid ?

[2018-12-19 18:22] theneuetimes opened #173 "Rotate collider along with sprite"
I want to have my sprite rotated at a slight angle, and I need a collider on it. I can do this:
[code]

But this doesn't rotate the collider, just makes it larger.
![result](https://i.imgur.com/J54w4TW.jpg)

What I need is a collider matching the sprite, like here:
![expected result](https://i.imgur.com/cd1bmmB.jpg)

The `setCollider` function seems to ignore the rotation too.

Is it an error on m

[2018-12-26 12:54] SaintPepsi commented on #173
Hi, I noticed your post on this dead repository and I thought i'd give it a shot at helping out.

From what i know, `rectangle` colliders don't rotate, what you can rotate however is a `polygon` data set, there's actually a p5 library called p5.collide2D [Repository](https://github.com/bmoren/p5.collide2D) which contains functions like : `collidePolyPoly()`

If you don't know what a poly is, it's

[2018-12-28 06:53] SaintPepsi commented on #145
Can you give a [minimal working example](https://stackoverflow.com/help/mcve)? Thanks.

[2019-02-06 21:00] jimboweb opened #176 "setCollider makes sprite disappear"
Having an issue in the game I'm making here:

https://repl.it/@JimStewart1/LiamsGame

On line 33 I have `setCollider('circle')` commented out. When I uncomment it, then the sprite's image disappears when my sprite moves up. The sprite is still there bouncing around because the camera is following it, but you can't see it.

[2019-02-07 10:57] GabriMagic opened #177 "Bad spritesheet behaviour"
Good morning
I am trying to use some sprite-sheet to create a simple animation, but I have some problems, and it does not work properly, this is the sprite-sheet:

![image](https://user-images.githubusercontent.com/6409499/52406896-b62ffc00-2ac6-11e9-9db6-30d944b91642.png)

(I am using this cdn https://s3-us-west-2.amazonaws.com/s.cdpn.io/123548/p5.play.js)
And this is my test project (https://edi

[2019-02-07 13:31] molleindustria commented on #177
I think it's this the issue described here?
https://github.com/molleindustria/p5.play/issues/136

@islemaster is there a reason the parameters weren't swapped? I'm afraid of making changes

[2019-02-07 14:07] GabriMagic commented on #177
Yeah!! This was the problem, now it works perfectly!!

I do not understand why if it code is wrong, the repository is not updated?

I purposed the change to the file, I hope to accept this change, and use the github file as cdn, how It should be.

Thanks for the gelp :)

[2019-02-07 14:07] #177 closed

[2019-04-04 19:24] deiga commented on #12
@toolness Could you elaborate how one uses p5.play in instance mode? The docs don't seem to have an answer and if I just try instance mode the `p5` object has no properties like `loadSpriteSheet`

[2019-04-04 22:50] GoToLoop commented on #12
Here's a more up-to-date online version of the my previous sketch:
https://Bl.ocks.org/GoSubRoutine/cf739128f389766f5d9cb631c9c358a6

[code]

[2019-04-06 14:28] aspenforster opened #179 "p5.play in the p5 web editor?"
Hi, wondering if it's possible to get p5.play running in the p5 web editor?

If so, how is it done?

[2019-04-06 14:42] GoToLoop commented on #179
[code]

https://github.com/molleindustria/p5.play/issues/12#issuecomment-480091063

[2019-08-09 13:49] ricardocanada opened #180 "Error message running a p5.play sketch on OpenProcessing"

[2019-08-09 13:51] ricardocanada commented on #180
I get this message in the console each time I run the sketch.
"You just changed the value of "camera", which was a p5 function. This could cause problems later if you're not careful." It doesn't affect playback now, but note the warning.

[2019-09-10 15:34] luyingzhang commented on #125
restore to the version 0.5.4 can fix:

p5.prototype.image =
  function(img, sx, sy, sWidth, sHeight, dx, dy, dWidth, dHeight) {
  // set defaults per spec: https://goo.gl/3ykfOq
  if (arguments.length <= 5) {
    dx = sx || 0;
    dy = sy || 0;
    sx = 0;
    sy = 0;
    if (img.elt && img.elt.videoWidth && !img.canvas) { // video no canvas
      var actualW = img.elt.videoWidth;
      var actual

[2019-09-13 08:18] mihalski commented on #136
@SnipedCode The fix provided doesn't work for me with the following code. I still need to go back to v0.5.4 to make it work.

[code]
The timesheet used is from one of the examples. https://molleindustria.github.io/p5.play/examples/assets/tiles_spritesheet.png

[2019-09-14 13:48] mihalski opened #181 "How does rotateToDirection work in practice?"
As an example of the difficulty I am having with is:

https://editor.p5js.org/michal.dobrzynski/sketches/4vbAkrVY4

Is there a way (other than rotating the original image by 90 degrees) to make the ship face the direction of movement (i.e. "North")?

I can find no explanation as to how to use this method and by default it does not do what is expected.

[2019-09-14 20:43] SnipedCode commented on #181
Why don't you rotate your image source?
(playerShip1_red.png)

[2019-09-14 20:53] molleindustria commented on #181
Assigning a the rightward direction to 0  degrees is a common although counterintuitive convention (because of radians etc)
The easiest way is to get rid of the rotateToDirection and add this to the update function:
playerSpr.rotation = playerSpr.getDirection()+90;

[2019-09-14 22:27] mihalski commented on #181
@molleindustria Thanks for that suggestion. Clean and works great!

[2019-10-07 03:23] arthurmasl opened #182 "How to stop moving objects when collide?"
Hey. How to make objects stop, when they collide?

code: https://editor.p5js.org/arthurmasl/sketches/djPp4WaX3

what do i want: https://editor.p5js.org/arthurmasl/sketches/Ch1_wGh2-
But i don't like this solution, because blocks are players,
and they must be able to move around at any time.

Maybe you can suggest me something?

[2019-10-14 01:30] #182 closed

[2019-10-30 20:21] rafaelfajardo commented on #180
I get this error message on OpenProcessing, too. I see it also on a sketch I began on OpenProcessing and have set up to run locally on my laptop served via Node.js simple-server and local P5.js and local P5.play.js.

[2020-01-01 20:15] leissler opened #185 "Can't use modern ES6 inheritance"
Since p5.play is based on ES5 code it is not possible to derive an ES6 class from Sprite, which would be very convenient. I'm a C#, C++ and Java developer but don't have much experience with Javascript/ES. Wouldn't it be quite easy to convert the library to a modern ES6 version with classes for Sprite, QuadTree, etc.?

[2020-01-01 20:57] GoToLoop commented on #185
The reason the class **_Sprite_** isn't inheritable isn't b/c it's ES5, but b/c its methods aren't stored in its constructor's _prototype{}_.

Which is a bad style b/c methods are re-created each time it's instantiated instead of reusing the 1s defined in its _prototype{}_.

ES6 classes already place methods in the _prototype{}_ btW.

[2020-01-02 16:56] leissler commented on #185
So are you saying that it would be rather simple to re-structure the complete library to store methods in constructor prototypes?
When looking into the source code I see helper stuff, like _defineLazyP5Property_ and _createPInstBinder_, which seems to make everything compatible with p5.
So what would it take to make the classes ES6-derivable using _class_ and the _extends_ keyword?

Right now the

[2020-01-02 23:01] GoToLoop commented on #185
B/c the library relies on many complex "hacks", it's not gonna be that simple!

I've got my doubts whether those are actually needed for p5js compatibility. Maybe some are, but not all.

Like I've stated in my 1st reply: "but b/c its methods aren't stored in its constructor's _prototype{}_."

That is, we have to move all properties storing the **_Sprite_**'s methods outside its constructor and sto

[2020-01-03 15:00] leissler commented on #185
When starting a refactoring, shouldn't it be ES6 classes then right away?
Like so

[code]
With p5 being some kind of global shared reference to the p5 context.

[2020-01-03 17:24] GoToLoop commented on #185
Yup! A true overhaul should include a conversion from ES5 constructor functions to ES6 classes.

I've left **_Sprite_** still using the ES5 style just to make a point the problem had nothing to do w/ ES5 per se.

Man, this is doubly über wrong!

1st of all, _p5_ is already a global variable added by "p5.js" library storing the reference to its main class **_p5_**.

Therefore it refers to a constru

[2020-01-03 18:33] GoToLoop commented on #185
BtW, here's a previous issue about how the "p5.play" library became compatible w/ "p5.js" instance mode:
https://github.com/molleindustria/p5.play/issues/12

[2020-01-03 19:41] molleindustria commented on #185
I mostly use C# as well and it would be great to refactor p5.play to allow extendable classes and instance mode. ES6 was not on my radar when I started it and the idea was to make the library understandable to students who don't know OOP yet. ie if you want to make a sprite subclass you can just make a sprite and add a bunch of properties and methods dynamically since in js anything goes.
(I'm gen

[2020-01-03 20:33] leissler commented on #185
Hey, how about that?! We got the developers attention here :)
I'm a professor at a University in Germany and teaching game development over here. Besides missing a tile library and not being designed as OOP as it could be, I really like p5.play for teaching the basics of programming interactive applications and games.
So would you endeavor into converting it to ES6 classes, making it more C# and O

[2020-04-03 10:35] Suxsem opened #186 "Tile System"
Hello, I don't know if I cannot find this function or if it's not present...

I want to repeat an image to fill the sprite.

For example, I want to create the ground for a platform game. I would just create an image with a small width and then repeat it for the whole width of the window.

I think it's a common use case, what do you think?

[2020-04-03 14:21] Suxsem commented on #171
I'm experiencing the same issue.

[2020-04-03 14:27] molleindustria commented on #186
You may be thinking about a tile system or a tiled texture. The first isn't provided by p5.play (consider phaser.js for that and for platformers), the second would be efficient only in engines that are natively 3D like Unity, and draw 2D images as textures. You can make your own draw function that tiles images but I believe it wouldn't be much faster that drawing a lot of sprites.

[2020-04-06 07:22] Suxsem commented on #186
I did it with multiple sprites grouped, thanks!

[2020-04-19 14:53] AidanRB opened #187 "Link in docs for Sprite to CreateSprite broken"
The link directs to p5.play.html#method_createSprite instead of p5.play.html#method-createSprite.  Not sure if bug is present in any other links.

[2020-07-13 15:35] l0g1c4p3 opened #189 "Typescript type declaration file"
Is anyone aware of a type declaration file for p5.play, or if there are any plans to create one?

I am trying to adopt the library for a research project, but I really want to use pure typescript and would much rather not mix it with untyped js.

Many thanks for any info you can provide

[2020-07-15 18:41] molleindustria commented on #189
NEVER

[2020-07-15 19:04] l0g1c4p3 commented on #189
Fair enough, Paolo  :)
It would be good to include this strong policy statement at the top of the documentation as a courtesy, so that people can be aware of it.  Since p5.js does provide type declarations as standard, people would be excused to assume p5.play.js may do the same.

Unfortunately - as typescript is increasingly widely adopted and I need to future-proof my efforts - it's a deal break

[2020-07-15 19:18] molleindustria commented on #189
Well, I meant... I don't really maintain this repository. Perhaps somebody would want to add that, whatever it means.

[2020-07-15 19:34] GoToLoop commented on #189
Alternatively we can make the "p5.play.js" comments conform to JSDoc, so it is understandable by TypeScript: :bulb:
https://www.TypeScriptLang.org/docs/handbook/type-checking-javascript-files.html#supported-jsdoc

[2020-07-22 06:29] aditirepo426 commented on #180
THIS DOESN'T AFFECT THE PROGRAM BUT

[2020-08-23 05:20] karlcleveland opened #190 "Spritesheets not working correctly"
While experimenting with p5.play, I keep running into issues with sprite sheets not functioning correctly. If I role back the version of p5.js to the 2016 version used in the online examples, it works fine. But, sprites sheets don't work correctly in the current version of p5.js (v1.1.9). For example, the exact code/files used in the online example for sprite sheets (http://molleindustria.github.i

[2020-08-23 18:50] karlcleveland commented on #190
Thank you! That worked for the animated sprites. But, as referenced in #136, the tile_sprite_sheet did not work because it is not animated and uses a different function (drawFrame). So, it appears that in addition to line 3571, line 3926 also needs to be updated from:

`pInst.image(this.image, frameToDraw.x, frameToDraw.y, frameToDraw.width, frameToDraw.height, x, y, dWidth, dHeight);`

to:

`pIns

[2020-09-21 19:16] theneuetimes opened #191 "Group displacement (currently only works for the first sprite)"
I'm making a game where there are multiple sprites moving independently and I need them to be able to displace each other freely. The issue is that doing something as simple as `players.displace(players)` will only allow the first sprite from the group to displace others, while the last one is not allowed to move any others. I've made a simplified sketch to show the issue:

https://editor.p5js.org

[2020-10-08 23:18] garyanikin opened #192 "sprite cull function"
Hi guys 👋
How to clean up offscreen Sprites in proper way?

I added this code in my project to clean up sprites
[code]

[2020-10-09 19:57] socalledsound commented on #190
just adding a +1 to this! drawFrame() is at line 3954 for me, in the currently available download from the p5.play site, and this fix fixes it.  Did you submit a PR karl?

[2020-12-29 13:17] dipamsen opened #194 "[enhancement] Draw Sprites automatically"
Instead of having to call `drawSprites()` at the end of the `draw` function, it can be handled automatically in the library by using
[code]
([p5 registerMethod](https://github.com/processing/p5.js/blob/main/contributor_docs/creating_libraries.md#use-registermethod-to-register-functions-with-p5-that-should-be-called-at-various-times))

In this way, the drawSprites will be called after every frame.

[2021-01-03 00:07] waseltzer opened #195 ""Animation" and "camera" conflict with https://editor.p5js.org/ defaults"
Using https://editor.p5js.org/
Added this to index.html
`<script src="https://rawgit.com/molleindustria/p5.play/master/lib/p5.play.js"></script>`
Console shows a warning:
[code]

Example sketch: https://editor.p5js.org/wseltzer/sketches/2PvBnDHQZ

[2021-01-10 21:58] wwjd1234 opened #196 "sprite repel function"
I am trying to implement a repel function using

attractionPoint(-1, objectB.position.x, ObjectB.position.y)

I though by making the magnitude negative this would do it, but instead the object end up being attracted to each other.

Is there a way to do the opposite of attraction?

This only thing I could come up with is the following:

      let difference = dist(s.position.x, s.position.y, ss.pos

[2021-02-16 23:30] myselfhimself opened #197 "loadAnimation() fails parsing filenames with short non-numeric prefix"
Hello,
for a call like:
`var cog1 = loadAnimation('sprites/food/level3/bricks/cog0001.png', 'sprites/food/level3/bricks/cog0002.png');`
an error will be raised by p5.js:
`Warning undefined frame 0`

Step by step debugging of p5.play.js shows:
[code]

I suspect that the issue is related to the filename prefix is too short (cog) vs. the `4+digits1` hardcoded substring value which should be computed

[2021-02-18 21:06] myselfhimself commented on #190
Does a PR fix this ?

[2021-02-24 21:06] molleindustria commented on #190
Perhaps @islemaster will know the answer. This has been a recurring issue that seems easy to address. Is there a reason the proposed fix wasn't merged?

[2021-02-25 15:09] YamiAtem opened #198 "Is there a Typescript version of p5.play?"
Is there a p5.d.ts file for p5.play.js as this very helpful for writing p5.play in typescript and also for teaching. So is there any p5.play.d.ts file or will there be any in the future?

And yes I have tried to compile them myself but it doesn't work it just says:
`export {};`
After being generated

[2021-02-26 20:37] molleindustria commented on #190
Alright, I figured out how to github and the fix has been implemented, hopefully it doesn't break other things...

[2021-02-26 20:37] #190 closed

[2021-02-27 01:15] molleindustria commented on #15
This issue depended on p5.js handling of touch input and has been addressed by updating the library in examples.
I find touch events a bit unreliable but I can't tell if it's due to p5 or js in general.

[2021-02-27 01:15] #15 closed

[2021-02-27 01:17] #107 closed

[2021-02-27 01:19] #136 closed

[2021-02-27 12:44] molleindustria commented on #130
Sprites can be animated and different frames can have different sizes. sprite.width reads the width of the current frame. In order to scale the sprite you should use sprite.scale.

[2021-02-27 12:44] #130 closed

[2021-02-27 13:40] molleindustria commented on #129
Hopefully fixed by this, I'm still unclear on how the width and heights are handled now to be honest
https://github.com/molleindustria/p5.play/commit/183dfe86614b1b2fd3314ba742273e6a146b45c6

[2021-02-27 13:40] #129 closed

[2021-02-27 14:07] molleindustria commented on #197
Sorry, I can't reproduce that. I encounter no issues when using assets named cog0001 etc

[2021-02-27 14:15] molleindustria commented on #196
Yep that's how it works, a negative attraction should repel the object. Feel free to post a link to a full example and I can take a look at it. By the way, objectB and ObjectB are different things.

[2021-02-27 14:33] molleindustria commented on #195
Yeah "camera" is conflicting with the webgl camera and should be renamed in p5.play although I suspect many other things would not work properly in 3D.

I don't know about the animation though, I can't find any "Animation" reference in the p5 source code.

[2021-02-27 14:37] molleindustria commented on #194
The idea is that you may want to decide when to draw the sprites or a group of sprites in the "draw" function so you can integrate them with the standard p5 stuff.

[2021-02-27 14:38] molleindustria commented on #191
Yes, that is a known limitation :(

[2021-02-27 22:50] Poly-Pixel opened #199 "Error:"pInst.createVector" is not a function"
![image](https://user-images.githubusercontent.com/79737178/109402338-13ec4680-7923-11eb-81a0-2f4e24322965.png)
Hello,
I'm trying to build a game using p5.play, and I'm using the "Get Started" guide in the wiki to make sure everything works. However, whenever I run my website, I get the error above. I am using Atom as a text editor and Chrome to run the website.

[2021-02-28 01:39] Poly-Pixel commented on #199
Issue solved, I had accidentally changed something in the p5.play.js file

[2021-02-28 01:39] #199 closed

[2021-03-13 10:25] ejgutierrez74 commented on #185
Hi, any progress here ? Would be nice to have ES6 classes compatible with p5.play

[2021-03-21 11:28] ejgutierrez74 opened #200 "P5.play is abandoned ?"
Seems have not updates or versions, seems is abandonware.. Is still active ?

[2021-03-21 12:07] ejgutierrez74 opened #201 "Is it possible to collide Sprite with Collider of other Sprite object ?"
Think we have a ball and player tennis. My idea is that tennis ball would have to colliders. Right collider and left collider ( as name suggests right collider would be a circle from center to the right ( half rightof the ball), the other collider would be the left part of the ball.
I would liket to test something like:
tennisplayer,collide ( ball.rightcollider , reboundright);
tennisplayer,collid

[2021-05-04 23:17] bendavis78 opened #202 "Why are Sprite images slightly fuzzy?"
When drawing an image-based sprite, the image becomes slightly fuzzy. The screenshot below shows 2 images, the one on top was drawn with `image()` and the bottom one was drawn with a sprite:

![image](https://user-images.githubusercontent.com/324392/117081047-b5698d00-ad04-11eb-9702-18d8adccce0e.png)

[code]

[2021-05-06 15:36] bendavis78 opened #203 "Thrown errors should be `Error` instances."
For example:
[code]
should be:
[code]

The reason for this is that a stack trace is not included when you throw a string. This makes things difficult to debug. There's no way to know what line this error occurred on.

[2021-05-24 19:15] UrsulaMedium commented on #115
Thanks for the solution!
Is it possible to add the Camera behaviour to the documentation? (or make the camera opt-in indeed).
I spent many many hours figuring what I'm doing wrong until I switched off P5 Play library.

[2021-05-26 21:31] myselfhimself commented on #197
Hello, the issue actually lies if there is one or more digits in the whole path before the file name itself.

See screenshot excerpt below:
![image](https://user-images.githubusercontent.com/1265346/119733444-d0e63480-be79-11eb-92bf-fec7ed678a55.png)

In such conditions, for my file names to be taken into account.. I have to rename them with an additional padding 0 and have my loadAnimation() call

[2021-05-26 21:31] myselfhimself commented on #197
This does prevent me from telling you, thanks for p5.play!! It spares me a lot of work.. :)

[2021-05-26 21:34] myselfhimself commented on #197
Related to https://github.com/myselfhimself/BerlinWallBreaker/issues/1

[2021-05-26 21:36] myselfhimself commented on #197
This is fixed in this PR https://github.com/molleindustria/p5.play/pull/175

[2021-05-27 12:26] myselfhimself commented on #197
I can try to make a new fresher PR or alter it

čt 27. 5. 2021 v 14:25 odesílatel Paolo Pedercini ***@***.***>
napsal:

[2021-05-27 14:26] myselfhimself commented on #197
I created a simpler PR thanks to @keithohara 's former work on PR #175 , feel free to merge.
I tested the new PR manually it works well.

[2021-05-27 19:43] #197 closed

[2021-05-27 19:44] molleindustria commented on #197
Thank you so much!

[2021-05-28 08:34] myselfhimself commented on #197
Thank you too!

[2021-08-07 02:08] guschnwg commented on #202
On `setup()` call `noSmooth()` after create the canvas

[2021-08-08 20:53] BhavyamGoyal opened #205 "overlapPixel function does not work for scaled or rotated sprites"
overlapPixel function does not work for scaled or rotated sprites it only works for rotation == 0 and scale == 1

[2021-08-21 09:03] UjjwalSingh77 commented on #128
me too

[2021-08-22 00:06] quinton-ashley opened #206 "Error: Cannot read property 'touches' of undefined"
p5.min.js:3 Uncaught TypeError: Cannot read property 'touches' of undefined
    at _.o.default._updateTouchCoords (p5.min.js:3)
    at _.p5._updateNextTouchCoords (p5.play.js:265)
    at _.p5._onmousedown (p5.play.js:302)

[2021-09-02 22:13] apc518 opened #207 "Feature request: a tag property"
In one game I'm working on, I've added a `tag` property to the sprite class, which just an `Object` by default. This is useful any time you want to store some data about a sprite within the sprite that hasn't been defined already.

One piece of data I store in my tag is health, for instance.

In my case I created a class called `MetaObj` that had a bunch of relevant fields, then assigned a `MetaOb

[2021-11-08 03:23] ggarvo opened #208 "Cannot read properties of undefined (reading '_report') at undefined:2:287964"
Using p5.play and this appears in console:
TypeError: Cannot read properties of undefined (reading '_report')
    at undefined:2:287964

[2021-11-13 00:27] ACIDULATED opened #209 "Animations not showing."
function setup() {
    createCanvas(800, 400);
    var Rick = createSprite(200, 200);
    Rick.addAnimation('rickroll', 'assets/rick.png', 'assets/rick.png');
}

function draw() {
    drawSprites();
}

This should add the rickroll image saved in my assets, but it doesn't. Instead, it's a white screen.

[2021-11-13 13:05] ACIDULATED commented on #208
same error

[2021-11-13 13:13] molleindustria commented on #209
just add it once
Rick.addAnimation('rickroll', 'Rick.png');

[2021-12-15 03:07] lucwhite opened #210 "Sprites do not automatically update in an instance mode draw loop"
Had an issue with p5 play sprite animations not playing with p5 in instance mode.

It's a pretty specific bug but with p5 in instance mode, the `spriteName.update()` function is not automatically called at the start of the `draw` loop. It has to be called manually.

Maybe this could be added as a side note in the docs.

[2022-01-10 15:27] scenaristeur commented on #206
just commenting the line 265 in your p5.play.js seems to fix that issue
[code]

[2022-02-03 00:54] TheGreenSheeep opened #211 "p5 had problems creating the global function "Animation""
Whenever I try to run my program it comes up with the following errors:

p5.js says: p5 had problems creating the global function "Animation", possibly because your code is already using that name as a variable. You may want to rename your variable to something else. (http://p5js.org/reference/#/p5/Animation)

You just changed the value of "camera", which was a p5 function. This could cause proble

[2022-02-03 05:17] TheGreenSheeep commented on #211
Managed to fix it. For some reason, by exchanging the p5.js file for the p5.min.js file fixed it but not sure why.

[2022-02-09 14:03] weeaudi commented on #208
Yep also the same trying to use jsmpeg-vnc-linux

[2022-04-06 21:31] jmmcd commented on #128
I encountered this error message today with current p5js and p5.play. The fix was to move my line of code from `preload` to `setup`:

[code]

[2022-04-10 20:03] XytheRoblox opened #213 "Sprite with loaded image not showing"
I have all the libraries included

I checked working examples and adjusted my code

My code:
[gtproject.zip](https://github.com/molleindustria/p5.play/files/8459819/gtproject.zip)
)

[2022-04-26 14:33] jmmcd opened #214 "Incorrect bouncing behaviour due to incorrect tunneling detection"
Cross-posted from StackExchange: https://stackoverflow.com/questions/72006039/incorrect-bouncing-behaviour-in-p5js-play-library

I'm doing a simple bouncing balls demo, with one large ball whose mass in `play` is given by $\pi r^2$. The basic physics looks right to me. But after a few seconds, the large ball starts to jump large distances when struck by a small ball.

Here's my complete code: http

[2022-05-02 15:18] quinton-ashley commented on #185
@ejgutierrez74 I've just made a lot of progress on this! I will send a push request to @molleindustria but I doubt they will see it or accept it for a long time since they seemed pretty inactive until 2 months ago. I'll make my own repository and make an npm package for the new ES6 version of p5.play

[2022-05-02 16:14] quinton-ashley commented on #185
@molleindustria I really like your p5.play library btw! Here's a bit of background about why I wanted to do this.

I'm a computer science teacher and my students have used it (via QuintOS which simplifies p5.play to make it easier to use for young students) to make some great games :) You can see them on https://quintos.org/home.html

I realized yesterday that the way I was extending Sprite was no

[2022-05-02 19:53] molleindustria commented on #185
@quinton-ashley Well my background is that p5 was my way to use javascript without dealing with the disgusting world of modern javascript development and p5.play an attempt to give my art students who don't know how to code a simple way to display something more than squares and lines. Then a bunch of real js developers got on board on the library and added all this stuff I don't understand nor ca

[2022-05-02 20:11] quinton-ashley commented on #185
@molleindustria Thanks! Luckily I think the change to ES6 classes actually makes the code a lot easier to understand, especially for newer JS developers. JavaScript was not such a good language in my opinion before they added async/await (fixed callback stack hell) and ES6 classes which made it a lot easier to extend classes with inheritance instead of just with adding functionality to an Object's

[2022-05-02 23:05] quinton-ashley commented on #203
I will do this fix!

[2022-05-02 23:08] quinton-ashley commented on #202
Here's the noSmooth reference:
https://p5js.org/reference/#/p5/noSmooth

[2022-05-02 23:13] quinton-ashley commented on #201
Make separate sprites for the tennis player if you only want the bounce to be straight center, diagonal left, and diagonal right.

Otherwise if you want the ball to bounce of the sprite at an angle controlled by the player's angle, make the ball collider a circle collider and it will bounce at whatever angle the player rectangle is rotated to.

Closing this issue.

[2022-05-02 23:13] #201 closed

[2022-05-02 23:14] quinton-ashley commented on #200
I am a new active developer/maintainer of p5.play so it is not abandoned!

[2022-05-02 23:14] #200 closed

[2022-05-02 23:17] quinton-ashley commented on #198
Try again I just did a big update of p5.play to use ES6 classes! There are no plans currently to offer a Typescript version of p5.play though.

[2022-05-02 23:18] quinton-ashley commented on #196
@wwjd1234 This seemed like a good idea, did you make any progress?

[2022-05-02 23:19] quinton-ashley commented on #195
I will add a better warning for the Camera in the editor context

[2022-05-02 23:20] quinton-ashley commented on #211
Animation has already been renamed to SpriteAnimation. Issue solved!

[2022-05-02 23:20] #211 closed

[2022-05-02 23:22] #194 closed

[2022-05-02 23:24] quinton-ashley commented on #192
This could be a very useful method for many types of games. I will add a cleanup function to the Group class that could be run in the draw function.

[2022-05-02 23:30] #189 closed

[2022-05-02 23:33] quinton-ashley commented on #186
I will add a tile system to p5.play once I'm sure I've made a really good one, stay tuned!

[2022-05-02 23:40] quinton-ashley commented on #185
@molleindustria Thanks for adding me as a contributor! I will make some other fixes and additions to p5.play as well.

My changes solve the issue, closing this issue. 🎉

[2022-05-02 23:41] #185 closed

[2022-05-02 23:46] #181 closed

[2022-05-02 23:48] GoToLoop commented on #203
Just a tiny nitpick: `throw` is a JS keyword command which doesn't need any parens: :nerd_face:
https://developer.Mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/throw

[2022-05-02 23:51] #198 closed

[2022-05-03 00:55] quinton-ashley commented on #213
I found the problem, your image has too much transparent space around it. Edit the image to remove the transparent space and you will see it. Also p5.play createSprite x and y coordinates are for the center of the image.

[2022-05-03 00:55] #213 closed

[2022-05-03 01:13] quinton-ashley commented on #214
possible duplicate of #191

Try using a for loop to add the displacement for all circles

[2022-05-03 01:19] quinton-ashley commented on #209
Check the size of your image file, is it a large file with a lot of transparency around it? Also you could use the addImage function instead. Generally it's also better to load images in the preload p5.js function.

Provide a zip of your project if you need more help, closing this issue for now.

[2022-05-03 01:19] #209 closed

[2022-05-03 01:21] quinton-ashley commented on #208
Seems like it was probably an issue with a specific version of p5.js or something else. p5.play does not have a _report property.

[2022-05-03 01:21] #208 closed

[2022-05-03 01:25] quinton-ashley commented on #207
What you've discovered is actually a great feature of JavaScript! Unlike many other programming languages, in JS you can easily add properties to any object. You could even store the player's health property right on the sprite object itself.

[2022-05-03 01:25] #207 closed

[2022-05-03 01:26] quinton-ashley commented on #206
oops, closing haha

[2022-05-03 01:26] #206 closed

[2022-05-03 01:27] quinton-ashley commented on #205
Yeah it'd be nice if this was fixed. Maybe in the far future I will look into it.

[2022-05-03 01:39] quinton-ashley commented on #203
@GoToLoop Yup true. Fixed in version 2.0.1

[2022-05-03 01:39] #203 closed

[2022-05-03 01:45] quinton-ashley commented on #187
fixed!

[2022-05-03 01:45] #187 closed

[2022-05-03 01:47] quinton-ashley commented on #180
updates to this issue will be in #195

[2022-05-03 01:47] #180 closed

[2022-05-03 01:47] #179 closed

[2022-05-03 01:53] quinton-ashley commented on #176
Try scaling the image to the size you want first, without using the scale property of the sprite.

[2022-05-03 01:53] #176 closed

[2022-05-03 02:12] quinton-ashley commented on #171
I've experienced this too. This is probably an issue with number rounding incorrectly placing the player slightly below a block. I will fix this when I add a tile system to p5.play

Follow #186

[2022-05-03 02:12] #171 closed

[2022-05-03 02:16] quinton-ashley commented on #185
@molleindustria it's funny you don't even have the repo on your machine lolz It must be a lot of work to maintain a repository like this. I've helped you out responding to and closing some issues and outdated pull requests requests. :)

[2022-05-03 02:50] quinton-ashley opened #216 "Proposal to split this repository to have a better npm package"
I would like to split this repository so that the p5.play npm package can be small, right now it's 14MB unpacked! That's a lot considering the file size of p5.play.js itself.

Having p5.play in an npm package would be really useful since npm makes updating code packages easy for users.

Right now the website is already being served from the separate gh-pages branch. Perhaps the examples folder and

[2022-05-03 02:53] quinton-ashley commented on #170
I think this was fixed by #204

[2022-05-03 02:53] #170 closed

[2022-05-03 02:56] quinton-ashley commented on #164
fixed with release v2.0.1

[2022-05-03 02:56] #164 closed

[2022-05-03 02:57] #162 closed

[2022-05-03 03:00] quinton-ashley commented on #159
It is likely you will encounter CORS errors when using p5.play on codepen since the images you reference would be from a different site. Either store the images in JS (technically possible) or try repl.it instead.

[2022-05-03 03:00] #159 closed

[2022-05-03 03:03] quinton-ashley commented on #167
I made an npm package for this repo but a better (smaller) one is hopefully coming soon! The rest of the content of this issue either was fixed already or is in the wontfix category.

[2022-05-03 03:03] #167 closed

[2022-05-03 03:05] quinton-ashley commented on #158
loadAnimation takes p5.Image objects, not base64 image data. Load the images first and then use them with loadAnimation

[2022-05-03 03:05] #158 closed

[2022-05-03 03:05] quinton-ashley commented on #161
Should work fine. Example code not provided by issue creator, closing

[2022-05-03 03:05] #161 closed

[2022-05-03 03:07] quinton-ashley commented on #156
Will do!

[2022-05-03 03:07] #115 closed

[2022-05-03 03:08] quinton-ashley commented on #145
example not provided, closing

[2022-05-03 03:08] #145 closed

[2022-05-03 03:11] quinton-ashley commented on #146
This is still an issue! I will fix this.

[2022-05-03 03:16] quinton-ashley commented on #173
duplicate of #142

[2022-05-03 03:16] #173 closed

[2022-05-03 03:21] quinton-ashley commented on #71
Extending Sprite was not possible until now. Users can easily subclass Sprite using ES6 extends or adding functionality to the prototype. Fixed in v2.0.1

[2022-05-03 03:21] #71 closed

[2022-05-03 03:24] quinton-ashley commented on #84
Use the sprite.attractionPoint function, which can be given coordinates to another sprite.

[2022-05-03 03:24] #84 closed

[2022-05-03 03:26] quinton-ashley commented on #65
This would be nice! I think I will do this.

[2022-05-03 03:28] quinton-ashley commented on #61
use npm

[2022-05-03 03:28] #61 closed

[2022-05-03 03:29] #25 closed

[2022-05-03 03:31] quinton-ashley commented on #46
Interesting, I will look into this.

[2022-05-03 03:48] #202 closed

[2022-05-03 04:06] quinton-ashley commented on #216
I've also organized all of this project's issues on a project board.

https://github.com/molleindustria/p5.play/projects/1?fullscreen=true

[2022-05-03 12:05] molleindustria commented on #185
@quinton-ashley That's amazing, thank you so much. And yes, most of the maintenance and fixes were made by two other contributors in 2016-17. I barely touched anything since the launch.

[2022-05-03 14:56] quinton-ashley commented on #216
I decided to just try doing this right now.

I'm also fixing p5 instance use bug which affects this example http://molleindustria.github.io/p5.play/examples/index.html?fileName=sprites_with_sheet.js where `new SpriteSheet()` is used instead of the method `loadSpriteSheet`. I'm finding a way to bind the constructors of the new ES6 classes to a p5 instance.

[2022-05-03 15:15] rafaelfajardo commented on #180
Thank you Quinton and Paolo
Paz,
Rafael

[2022-05-03 15:43] quinton-ashley commented on #216
All examples on the website are now working but global mode is not, will fix soon.

[2022-05-03 16:59] quinton-ashley commented on #216
The split is all done! Global mode was actually fine and I haven't found any other problems with the new p5.play. I also published the npm package and included info about how to install it in the README.md

[2022-05-03 16:59] #216 closed

[2022-05-03 17:32] #46 closed

[2022-05-03 17:35] quinton-ashley commented on #210
I think this was fixed.

[2022-05-03 17:35] #210 closed

[2022-05-03 17:59] quinton-ashley commented on #156
https://github.com/molleindustria/p5.play/wiki/Get-Started

[2022-05-03 17:59] #156 closed

[2022-05-03 19:47] quinton-ashley commented on #195
Should we rename the p5.play camera something like camera2D ? I think that'd be a huge breaking change and not beneficial since p5.play is for 2D game development and it doesn't matter that we overwrite the 3D "camera" property.

I'm thinking it would be best to just hide the warning if possible.

[2022-05-03 23:17] quinton-ashley commented on #214
@jmmcd hmm okay thanks for trying, I will look into this!

[2022-05-04 00:49] quinton-ashley commented on #195
I resolved this in v2.1.2 by using p5.disableFriendlyErrors = true and setting it back to false during the document 'load' event which p5.js waits for before starting preload, setup, and draw. I think this will work in nearly every case, the user will still be able to get friendly errors afterwards.

[2022-05-04 00:49] #195 closed

[2022-05-04 16:46] quinton-ashley commented on #46
@toolness I finished what you started and completed this in v2.1.3 :)

[2022-05-04 18:12] quinton-ashley commented on #46
@toolness Actually I noticed that doing it that way only kind of worked but `instanceof` did not work because each class was essentially being turned into a separate function which made all the work I did turning them into classes (for better performance) pointless. I improved upon it by putting all the classes inside the `p5PlayInit` function and then storing `this` (the p5 instance) in a variabl

[2022-05-04 18:55] quinton-ashley commented on #46
@toolness v2.2.0 is ready!

[2022-05-04 19:17] quinton-ashley commented on #43
@toolness @islemaster Is this still a problem?

[2022-05-04 19:39] quinton-ashley commented on #214
@jmmcd I tried having the big circle displace all the little circles and the little circles all bounce of each other.

https://editor.p5js.org/quinton-ashley/sketches/1JE8MmV04

It still doesn't look perfect but probably close to what you want. Let me know what you think :)

[2022-05-04 21:16] quinton-ashley commented on #214
The problem is the code for tunneling detection in p5.play is wrong. This code should test if one object is going so fast that it would get to the other side of an object it is supposed to bounce off. However it's triggering a lot even when this isn't the case. The code for managing tunneling is also horrible and doesn't even care that these are circles (that's why you'll see circles stuck on an i

[2022-05-05 04:51] quinton-ashley commented on #146
Fixed in version 2.2.2

Pretty easy fix, just had to not check the sprite for collisions if it was removed.

[2022-05-05 04:51] #146 closed

[2022-05-05 06:15] obadakhalili opened #217 "Usage as a module"
Hey. I need to use this package with Vite, and Vite can't import it because it's not defined as a module but rather as a script. Is there a way to get around that?

[2022-05-05 09:23] jmmcd commented on #214
Thanks. Yes, the tunneling makes sense as an explanation. This suggests that keeping all velocities low might help to avoid the problem.

The sketch you sent does indeed help to make the point that the sketch is intended to make (it's about the so-called arrow of time). Thank you very much for this! But yes, even apart from the invisible square, it would be better to have a simple and consistent b

[2022-05-05 13:19] obadakhalili commented on #217
Here's what I've for now https://www.npmjs.com/package/@obadakhalili/p5.play.

[2022-05-05 14:23] quinton-ashley commented on #214
@jmmcd That would be a logical conclusion but I don't even think that would work since the detection code is so bad. For now I just removed it so you can try it out.

Here's the example with p5.play v2.1.3 with tunneling detection issues:

https://editor.p5js.org/quinton-ashley/sketches/OfNEXge9V

Here's the example with the latest version of p5.play (v2.2.2):

https://editor.p5js.org/quinton-ashl

[2022-05-05 16:01] jan-niestadt opened #218 "Some examples appear to be broken"
Looking into p5.play and it looks great!

I did notice a few examples that may be broken:
- [Using the virtual camera](https://molleindustria.github.io/p5.play/examples/index.html?fileName=camera.js)
- [Mouse events on sprites with camera](https://molleindustria.github.io/p5.play/examples/index.html?fileName=mouseCamera.js)
- [Game - Flappy Bird](https://molleindustria.github.io/p5.play/examples/i

[2022-05-05 18:32] quinton-ashley commented on #217
I'll add this soon. I should have the p5.play package be require-able for node.js too.

[2022-05-05 18:36] quinton-ashley commented on #218
oops yeah my mistake, easy fix though, thanks for pointing it out. Patching this now.

[2022-05-05 18:53] GoToLoop commented on #217
You should consider using ECMA module rather than Common JS so it's compatible to both browser & NodeJS.

[2022-05-05 18:53] quinton-ashley commented on #218
fixed in v2.2.3

[2022-05-05 18:53] #218 closed

[2022-05-05 19:13] quinton-ashley commented on #217
@GoToLoop In the browser I don't want p5.play to be a module though, it needs to keep automatically attaching itself to a p5 instance.

Now that I'm thinking about it what would be the use case in NodeJS that someone would need to require p5.play hmm idk

[2022-05-05 19:17] quinton-ashley commented on #217
@obadakhalili  Could you actually try having p5.play be a module export but still have it work in the browser automatically for people that just add it via script tag in html?

[2022-05-06 04:37] quinton-ashley commented on #124
Solved (better late than never) 6 years later haha in v2.2.5

I did some performance testing and the Quadtree actually optimizes collisions quite well if you have a lot of sprites. With over 200 sprites checking for bounces against each other the performance saving is like 50% of the time without the Quadtree.

The code added to the Quadtree didn't work though, for example updateBounds which I ini

[2022-05-06 04:37] #124 closed

[2022-05-06 04:54] quinton-ashley commented on #191
I got the example to work by making the cursor Sprite a separate sprite. Still a little wonky when pushing the boxes against each other, some cases it'll push both, other cases not.

[code]

[2022-05-06 05:15] quinton-ashley commented on #214
This is still far from an accurate physics simulation but now it only uses `bounce` functions, not `displace` (which made the little circles look like super light liquid particles that the large circles could push aside with ease). What should happen here I think is that the big circles lose momentum to the little circles, which gain a LOT of momentum, but the total momentum should be constant.

I

[2022-05-06 05:15] #214 closed

[2022-05-06 13:26] quinton-ashley commented on #214
thanks!

[2022-05-06 22:35] quinton-ashley commented on #192
Here is the documentation for the new cull method of the Group class!

http://127.0.0.1:5501/docs/classes/Group.html#method-cull

I also added an example:

https://molleindustria.github.io/p5.play/examples/index.html?fileName=culling.js

[2022-05-06 22:35] #192 closed

[2022-05-07 14:39] quinton-ashley commented on #217
@obadakhalili Can you try the latest version, v2.2.9 ? I think I fixed this.

[2022-05-07 14:39] #217 closed

[2022-05-07 14:41] quinton-ashley commented on #169
@molleindustria I would like to know the answer to this as well! I also think we should upgrade the license to GPL-3.0

[2022-05-07 15:28] molleindustria commented on #169
Consider the graphics CC0.
P5.js is under LGPL-2.1 so I'd stick with that since it depends on it.

[2022-05-07 16:38] #169 closed

[2022-05-07 16:41] quinton-ashley commented on #68
done!

[2022-05-07 16:41] #68 closed

[2022-05-20 01:27] islemaster commented on #43
Hi @quinton-ashley! Thanks for maintaining here.  Yes, this was never addressed - the `keyDown` method still only checks for the `KEY_IS_DOWN` state, and its documentation hasn't changed.

https://github.com/molleindustria/p5.play/blob/b6ffefd86a9920e13f5248bb05da22df27332a5b/lib/p5.play.js#L3759-L3769

That said, I'm not sure it's a priority. 🤷 If we have no user complaints about this behavior it

[2022-05-20 06:12] quinton-ashley commented on #191
This problem will be fixed in v3 of p5.play, see this example:
https://molleindustria.github.io/p5.play/examples/v3.html?fileName=displace.js

[2022-05-20 06:22] quinton-ashley commented on #142
I'm creating a new version of p5.play that uses planck.js behind the scenes, which is very fast. p5.play v3 will hopefully be better than code.org's fork of p5.play. Here's an example of sprite rotation collision:
https://molleindustria.github.io/p5.play/examples/v3.html?fileName=drop.js

[2022-05-20 06:26] quinton-ashley commented on #56
I've made a moveTo function as well as a moveTowards function for the upcoming p5.play v3:
https://molleindustria.github.io/p5.play/examples/index.html?fileName=displace.js

[2022-05-20 06:26] theneuetimes commented on #191
That's great news! Any planned release date or a list of new features for v3?

[2022-05-20 15:19] quinton-ashley commented on #191
I don't know when it will get released yet but I will make a features list!

[2022-05-20 15:20] quinton-ashley commented on #196
I will add this in v3!

[2022-05-20 16:26] quinton-ashley commented on #191
Here is the list, I will add more later :)

https://github.com/molleindustria/p5.play/wiki/New-Features-in-p5.play-Version-3

[2022-05-20 16:30] quinton-ashley commented on #43
Thanks! I will change this in v3. I made a wrapper for the p5.js keyIsDown function that converts key names to key codes, instead of reimplementing it.

[2022-05-22 01:09] quinton-ashley commented on #43
wontfix for v2, closing this issue

[2022-05-22 01:09] #43 closed

[2022-05-22 01:38] quinton-ashley commented on #94
Will fix in v3 by changing the default angle mode to DEGREES and respecting user changes to RADIANS

[2022-05-22 01:38] #94 closed

[2022-05-22 03:12] quinton-ashley commented on #205
I don't think I will add this to p5.play v3 because it would be simpler if users just used sprites to check for all collisions.

[2022-05-22 03:12] #205 closed

[2022-07-16 21:35] abrahamavnisan opened #219 "sprite.MirrorX not working?"
Could it be that the code beneath the sprite.mirrorX and sprite.mirrorY functions is no longer working in the latest version of the p5.play library?

Reading the code [in this example](http://molleindustria.github.io/p5.play/examples/index.html?fileName=sprites_with_sheet.js) on http://molleindustria.github.io, I believe the character should be changing the horizontal direction they are facing dep

[2022-07-17 20:57] quinton-ashley commented on #219
Sorry! That example was wrong but I just fixed it. In version 2 of p5.play mirrorX is a function.

[code]

In version 3 of p5.play mirrorX will be a property that can be set to true or false because I think that makes more sense than using numbers for it.

[2022-07-17 20:57] #219 closed

[2022-07-19 19:53] Ish7R commented on #128
Same thing happened to me, took spaces out of the original png files and uploaded again. it worked fine.

[2022-07-26 19:56] xDarkAngelXD opened #220 "createSprite() not defined"
I host a class and I was creating a template for the students when I came upon a error that states createSprites() is not declared in the current scope

How do I fix this error I compared the code with a working project and it is exactly the same

Any help will be appreciated

This is the code in script.js

`var playerPaddle

playerPaddle = createSprite(50, 50, 50,50)
playerPaddle.shapeColor = "bl

[2022-07-26 21:38] quinton-ashley commented on #220
Upgrade your p5.js file requests to get the latest version, v0.9.0 of p5js is too old! That should fix your issues, if you have any other problems let me know!

[2022-07-26 21:38] #220 closed

[2022-07-26 21:40] quinton-ashley commented on #220
The latest version is 1.4.2

https://cdnjs.com/libraries/p5.js

[2022-07-28 21:04] xDarkAngelXD commented on #220
I am still getting the error of createSprite() is not defined

[2022-07-28 21:37] quinton-ashley commented on #220
Sorry I didn't notice this yesterday but the other problem is that you're importing p5.js multiple times. It can only be imported once so either have it load from the CDN or from the file folder, you can't do both. I made a template project for you so just copy this!

[](https://editor.p5js.org/quinton-ashley/sketches/R7mQTQzXO)

[2022-07-29 21:26] xDarkAngelXD commented on #220
I used you template import lines but now the error is that draw sprites is not defined

[2022-07-29 21:29] xDarkAngelXD commented on #220
The error is still there

[2022-07-29 21:42] quinton-ashley commented on #220
Try copying the whole template file and just use that to get started.

[2022-07-29 21:43] quinton-ashley commented on #220
You can't use `createSprite` before the p5.js setup function gets run.

[2022-07-30 00:19] xDarkAngelXD commented on #220
Thanks for the help

Also, I was trying to make one of the sprites move based on the keyboard and I wrote the following code

`
function playerMovements(){
	if(keyDown("a")){
		playerPaddle.x = playerPaddle.x-10;
	}
}
`

But I come across an error stating that it cannot read properties of undefined (reading 'x')

I declared a global variable but it would still give an error

[2022-07-30 00:52] quinton-ashley commented on #220
Version 2 (and previous versions) of p5.play require you to use sprite.position.x

In Version 3 I made it so sprite.x works. I'm going to release v3 by the middle of August!
https://editor.p5js.org/quinton-ashley/sketches/szN_XdV5O

Check out all the different examples for each version.
https://molleindustria.github.io/p5.play/

[2022-07-31 18:49] dethe opened #221 "Error in V3 example"
When I run the V3 example at https://editor.p5js.org/quinton-ashley/sketches/szN_XdV5O I get the following error: `Error: The old p5.js preload function can't be used with p5.play. Use an async setup function instead.`

Full stack trace:

[code]

This is on Windows 10 running in Firefox 103.0.

[2022-07-31 19:23] quinton-ashley commented on #221
Yes sorry I was doing a big update. You must've tried it at just the wrong time hehe. Try it out now!

[2022-07-31 19:23] #221 closed

[2022-07-31 19:29] quinton-ashley commented on #221
Also check out some of the other v3 examples on the website. I figure that for a library like this using async/await for loading is going to be way better and it became part of JavaScript several years ago now so kids should learn how to use it. I'll post a full explanation later.

[2022-08-01 03:00] xDarkAngelXD commented on #220
Thank you for you help I truly appreciate it

If I have any more problems I will reach out to you!

[2022-08-02 21:12] dethe commented on #221
When I try that sketch now I don't get an error, but I don't see a sprite when I click either. I'm going to assume it is because things are still in flux. It's great to see this library back under active development, thanks for taking it on!

[2022-08-03 15:19] hakmad opened #222 "Bugs in v3 examples (Pong and Breakout)"
I'd just like to preface this by saying that I don't know anything about `p5` or JavaScript, so take anything I say with a grain of salt.

The `ball` object has a really weird behaviour - everytime it contacts another object (e.g. a `brick` in the Breakout example or the `paddleA`/`B` in the Pong example), the speed decreases significantly. I tried to log the speed with `console.log` to no avail,

[2022-08-03 15:23] quinton-ashley commented on #222
yeah my bad, I should have those games marked as [TODO]. I haven't convert them to v3 yet!

[2022-08-03 15:24] hakmad commented on #222
A little more experimentation, and I think it's a problem with the `bounce` method. Removing the `swing` variable and forcing the ball to "reflect" off of the surface by doing:

[code]

Results in the same behaviour.

[2022-08-03 20:57] quinton-ashley commented on #221
Yeah I did some more big changes. I realized doing an async setup function was a bad idea. Most of the examples should work now as well as the starter template.

[2022-08-04 04:15] quinton-ashley commented on #222
most of the examples are working again!

[2022-08-04 04:16] #222 closed

[2022-08-11 22:37] quinton-ashley commented on #65
I tried to use the p5js-widget for this but it seems that it's impossible to use libraries with it and it also doesn't take advantage of instance mode, each sketch runs in a separate iframe. I think you might've made it before p5.js supported instance mode.

My idea for the new reference pages is for them to have a LOT of mini-sketches. I ended up making my own little p5.js sketch player I call "p

[2022-08-12 16:49] quinton-ashley commented on #191
@theneuetimes I'll be releasing p5.play v3 this month!

[2022-08-13 10:36] theneuetimes commented on #191
❤️

[2022-08-15 04:05] #142 closed

[2022-08-15 04:05] #186 closed

[2022-08-15 04:05] #191 closed

[2022-08-15 04:06] #56 closed

[2022-08-15 04:59] #65 closed

[2022-08-26 02:30] xDarkAngelXD opened #223 "sprite.position.y undefined"
I am creating a game that is for my sister and when I was trying to make the sprite jump it would go blank and display an error that it cannot read sprite.position.y

`	if(keyCode === UP_ARROW && melon.position.y >=10){
		 melon =  melon.position.y-10;
	  }`

It would help out a ton if you help me in this issue

[2022-08-26 13:12] quinton-ashley commented on #223
Use melon.y ! Also make sure you're creating the melon before that code
runs.

On Thu, Aug 25, 2022 at 21:30 xDarkCoderXD ***@***.***> wrote:

[2022-08-26 13:13] quinton-ashley commented on #223
Could you share the rest of your code?

[2022-08-26 21:00] quinton-ashley commented on #223
also what version of p5.play are you using?

[2022-08-27 00:04] xDarkAngelXD commented on #223
I am using v3 of p5.play and I created the melon in function setup

Here is the rest of the code

`//Variables
let melon, melonIMG, melonRunner, melonCollided
let JJ, Bingo, YoYo, TomTom, Dad, Mom
let clouds, cloudIMG, ground, invGround, groundIMG

function preload(){

	//Runner
	melonIMG = loadImage(" melon.png");

	//Background
	groundIMG = loadImage(" ground.png");
	cloudIMG = loadImage(" cloud

[2022-08-27 00:05] xDarkAngelXD commented on #223
I tried you kb.pressed from the input methods you listed but it didn't work

[2022-08-27 00:33] quinton-ashley commented on #223
whoops! The error was caused by a problem in my p5.play code for setting the scale of the sprite. Just fixed it so your code should work with p5.play v3.0.97

[2022-08-27 00:33] #223 closed

[2022-08-27 00:33] quinton-ashley commented on #223
thank you for reporting this issue, if you have any other problems please let me know!

[2022-08-27 00:36] xDarkAngelXD commented on #223
Thank you

[2022-08-29 03:04] xDarkAngelXD opened #224 "keyboard input not working"
After the sprite.position.y was fixed the keyboard input methods (im using keyboard.pressed("up"))

Can someone pls help me in this issue

[2022-08-30 15:13] quinton-ashley commented on #224
Do these examples work on the website? https://p5play.org/learn/input_devices.html

[2022-09-03 15:19] nickmcintyre commented on #1
@quinton-ashley I'm looking into using p5.play as part of a visual novel engine and am a bit confused about licensing. [package.json](https://github.com/molleindustria/p5.play/blob/4d571bfb3eb5ffb1a8f1f2dd39d9a39e7f6492ae/package.json#L11) refers to the LGPL v2.1 while the [source code](https://github.com/molleindustria/p5.play/blob/4d571bfb3eb5ffb1a8f1f2dd39d9a39e7f6492ae/p5.play.js#L7) mentions

[2022-09-03 20:18] quinton-ashley commented on #1
Sounds great! I updated the license to GPL v3!

[2022-09-03 20:19] quinton-ashley commented on #224
I can't repeat the problem and need more info on what OS and browser you are using.

[2022-09-03 20:19] #224 closed

[2022-09-03 20:55] nickmcintyre commented on #1
Thanks!

[2022-09-26 15:33] quinton-ashley opened #227 "Help contribute to p5play!"
Help wanted! Take a look at the p5play project planning cards.

https://github.com/quinton-ashley/p5play/projects/1

To start contributing let me know what you're interested in on the #planning-forum channel of the p5play discord.

https://discord.gg/3UTbqUgmPF

[2022-09-29 12:18] theneuetimes opened #228 "Sprites disappear after reaching x position of 10801"
Every sprite which has an `x` greater or equal to `10801` is being removed from the scene (it's `removed` value is set to `true`) no matter what the `life` parameter is. The issue exists in p5.play v3 and is reproducable using the following code:
[code]

To see it for yourself, open this sketch: https://editor.p5js.org/cal1fxrniaaa/sketches/0aaqKkivG

Attachment #1, the sprite exists just fine bel

[2022-09-29 14:27] #228 closed

[2022-10-27 12:40] abrahamavnisan opened #229 "v2.0 documentation?"
Hello,

I am an educator who has built some curriculum around the legacy 2.0 version of the p5 play library, and I'm wondering if the v2.0 documentation is still available somewhere? All I'm seeing on the website is the v3.0 documentation.

Thanks!

[2022-10-27 12:50] quinton-ashley commented on #229
Access the old website here:

https://p5play.org/v2/index.html

and the v2 docs here:

https://p5play.org/v2/docs/index.html

[2022-10-27 12:50] #229 closed

[2022-11-04 16:35] quinton-ashley commented on #196
Added the `moveAway` function to v3.2.3

[2022-11-04 16:35] #196 closed